{% extends "journeyTemplate.njk" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block page_title %}{{ t('title') }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorSummary %}
        {{ govukErrorSummary(errorSummary) }}
      {% endif %}

      <h1 class="govuk-heading-l">{{ t('title') }}</h1>

      {# Summary List #}
      <dl class="govuk-summary-list">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {{ t('summary.contactPreference.label') }}
          </dt>
          <dd class="govuk-summary-list__value">
            {{ summary.step1.contactPreference }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/register-interest/step1">
              Change<span class="govuk-visually-hidden"> contact preference</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {{ t('summary.fullName.label') }}
          </dt>
          <dd class="govuk-summary-list__value">
            {{ summary.step2.fullName }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/register-interest/step2">
              Change<span class="govuk-visually-hidden"> full name</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {{ t('summary.email.label') }}
          </dt>
          <dd class="govuk-summary-list__value">
            {{ summary.step2.email }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/register-interest/step2">
              Change<span class="govuk-visually-hidden"> email</span>
            </a>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {{ t('summary.phoneNumber.label') }}
          </dt>
          <dd class="govuk-summary-list__value">
            {{ summary.step2.phoneNumber }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/register-interest/step2">
              Change<span class="govuk-visually-hidden"> phone number</span>
            </a>
          </dd>
        </div>
      </dl>

      <form action="/register-interest/step3" method="post" novalidate>
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">

        <h2 class="govuk-heading-m">{{ t('declaration.title') }}</h2>

        <div class="govuk-form-group {% if error %}govuk-form-group--error{% endif %}">
          {% if error %}
            <p id="confirmAccuracy-error" class="govuk-error-message">
              <span class="govuk-visually-hidden">Error:</span>
              {{ error.text }}
            </p>
          {% endif %}

          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="confirmAccuracy"
                     name="confirmAccuracy" type="checkbox" value="confirmed"
                     {{ 'checked' if form.confirmAccuracy === 'confirmed' }}>
              <label class="govuk-label govuk-checkboxes__label" for="confirmAccuracy">
                {{ t('declaration.checkbox') }}
              </label>
            </div>
          </div>
        </div>

        <button class="govuk-button" data-module="govuk-button">
          {{ t('buttons.submit') }}
        </button>
      </form>
    </div>
  </div>
{% endblock %}