{% extends "template.njk" %}

{% block content %}
  <h1 class="govuk-heading-l">PUI Demo - Claimant Type</h1>

<div class="govuk-inset-text">
  You are signed in as: {{ user.email }} and editing case reference {{ caseReference }}
</div>


{% endblock %}
