{% extends "stepsTemplate.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block content %}
  {{ govukPanel({
    titleText: "Application submitted",
    html: "Your application has been received."
  }) }}
{% endblock %}
