{% extends "stepsTemplate.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukPanel({
        titleText: title,
        html: confirmationText
      }) }}

      <form method="post" action="{{ url }}">
        {{ govukButton({ text: buttons.finish }) }}
      </form>
    </div>
  </div>
{% endblock %}
