{% extends "stepsTemplate.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block content %}

  <h1 class="govuk-heading-l">Enter your details</h1>

  <form method="post" action="{{ url }}">

    {{ govukInput({
      id: "applicantForename",
      name: "applicantForename",
      label: { text: "First name" },
      value: applicantForename,
      errorMessage: error_applicantForename and { text: error_applicantForename }
    }) }}

    {{ govukInput({
      id: "applicantSurname",
      name: "applicantSurname",
      label: { text: "Last name" },
      value: applicantSurname,
      errorMessage: error_applicantSurname and { text: error_applicantSurname }
    }) }}

    {{ govukButton({ text: "Continue" }) }}
  </form>
{% endblock %}
