{% extends "stepsTemplate.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block content %}
  {{ govukBackLink({ text: "Back", href: backUrl }) }}

  <h1 class="govuk-heading-l">Enter your address</h1>

  <form method="post" action="{{ url }}">
    {{ govukInput({
      id: "addressLine1",
      name: "addressLine1",
      label: { text: "Address Line 1" },
      value: addressLine1,
      errorMessage: error_addressLine1 and { text: error_addressLine1 }
    }) }}

    {{ govukInput({
      id: "addressLine2",
      name: "addressLine2",
      label: { text: "Address Line 2" },
      value: addressLine2
    }) }}

    {{ govukInput({
      id: "addressLine3",
      name: "addressLine3",
      label: { text: "Address Line 3" },
      value: addressLine3
    }) }}

    {{ govukInput({
      id: "town",
      name: "town",
      label: { text: "Town or City" },
      value: town,
      errorMessage: error_town and { text: error_town }
    }) }}

    {{ govukInput({
      id: "county",
      name: "county",
      label: { text: "County" },
      value: county
    }) }}

    {{ govukInput({
      id: "postcode",
      name: "postcode",
      label: { text: "Postcode" },
      value: postcode,
      errorMessage: error_postcode and { text: error_postcode }
    }) }}

    {{ govukInput({
      id: "country",
      name: "country",
      label: { text: "Country" },
      value: country,
      errorMessage: error_country and { text: error_country }
    }) }}

    {{ govukButton({ text: "Continue" }) }}
  </form>
{% endblock %}
