{% extends "stepsTemplate.njk" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block content %}

  {{ govukBackLink({
    text: "Back",
    href: "/steps/user-journey/enter-address"
  }) }}

  <h1 class="govuk-heading-l">Check your details before submitting</h1>

  {{ govukSummaryList({
    rows: [
      {
        key: {
          text: "Title"
        },
        value: {
          text: userDetails.title
        },
        actions: {
          items: [
            {
              href: "/steps/user-journey/enter-user-details",
              text: "Change",
              visuallyHiddenText: "title"
            }
          ]
        }
      },
      {
        key: {
          text: "First name"
        },
        value: {
          text: userDetails.firstName
        },
        actions: {
          items: [
            {
              href: "/steps/user-journey/enter-user-details",
              text: "Change",
              visuallyHiddenText: "first name"
            }
          ]
        }
      },
      {
        key: {
          text: "Last name"
        },
        value: {
          text: userDetails.lastName
        },
        actions: {
          items: [
            {
              href: "/steps/user-journey/enter-user-details",
              text: "Change",
              visuallyHiddenText: "last name"
            }
          ]
        }
      },
      {
        key: {
          text: "Street"
        },
        value: {
          text: address.street
        },
        actions: {
          items: [
            {
              href: "/steps/user-journey/enter-address",
              text: "Change",
              visuallyHiddenText: "street"
            }
          ]
        }
      },
      {
        key: {
          text: "Town"
        },
        value: {
          text: address.town
        },
        actions: {
          items: [
            {
              href: "/steps/user-journey/enter-address",
              text: "Change",
              visuallyHiddenText: "town"
            }
          ]
        }
      },
      {
        key: {
          text: "County"
        },
        value: {
          text: address.county
        },
        actions: {
          items: [
            {
              href: "/steps/user-journey/enter-address",
              text: "Change",
              visuallyHiddenText: "county"
            }
          ]
        }
      },
      {
        key: {
          text: "Postcode"
        },
        value: {
          text: address.postcode
        },
        actions: {
          items: [
            {
              href: "/steps/user-journey/enter-address",
              text: "Change",
              visuallyHiddenText: "postcode"
            }
          ]
        }
      }
    ]
  }) }}

  <form method="post" action="/dashboard/1">
    {{ govukButton({
      text: "Submit"
    }) }}
  </form>

{% endblock %}
