{% extends "stepsTemplate.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "macros/stepButtons.njk" import stepButtons %}
{% from "macros/csrf.njk" import csrfProtection %}

{% block pageTitle %}{{ pageTitle }} &ndash; HM Courts &amp; Tribunals Service &ndash; GOV.UK{% endblock %}

{% block mainContent %}
  <p class="govuk-body-s govuk-!-margin-bottom-2">{{ submittedCaption }}</p>

  {{ govukPanel({
    titleText: heading
  }) }}

  <h2 class="govuk-heading-m">{{ whatHappensNextHeading }}</h2>
  <p class="govuk-body">{{ whatHappensNextParagraph1 }}</p>
  <p class="govuk-body">{{ whatHappensNextParagraph2 }}</p>

  <form method="post" action="{{ url }}">
    {{ stepButtons(saveAndContinue, saveForLater) }}
    {{ csrfProtection(csrfToken) }}
  </form>
{% endblock %}
