<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      More time requested
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    The request by the defendant {{ params.defendantName }} for more time has been {{ params.result }}.
  </div>
</div>
