node_modules
**/node_modules
.yarn/cache
.yarn/cache/
.yarn/unplugged
.yarn/unplugged/
.yarn/install-state.gz
.yarn/build-state.yml
.git
.github
.vscode
.idea
.DS_Store
coverage
**/coverage
dist
**/dist
functional-output
smoke-output
test-results
playwright-report
allure-report
allure-results
blob-report
config/fortify-client.properties
