services:
  pcs-frontend:
    build:
      context: .
      target: development
      args:
        - http_proxy
        - https_proxy
        - no_proxy
    ports:
      - '3209:3209'
    command: ${COMMAND:-yarn start:dev}
    depends_on:
      cache:
        condition: service_healthy
    environment:
      - REDIS_CONNECTION_STRING=redis://cache:6379
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.yarn

    networks:
      - pcs-frontend-network

  cache:
    image: hmctspublic.azurecr.io/imported/bitnami/redis:8.2.0
    ports:
      - '6379:6379'
    volumes:
      - cache-data:/bitnami/redis/data
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    healthcheck:
      test: ['CMD', 'redis-cli', 'ping']
      interval: 3s
      timeout: 2s
      retries: 10
    networks:
      - pcs-frontend-network

networks:
  pcs-frontend-network:
    driver: bridge

volumes:
  cache-data:
