{% extends "stepsTemplate.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}Defendant Name Confirmation - Possession claims{% endblock %}

{% block mainContent %}
  <h1 class="govuk-heading-l">Defendant Name Confirmation (Placeholder)</h1>
  
  <p class="govuk-body">This is a placeholder page for defendant name confirmation.</p>

  {# Conditional content based on whether defendant name is known or not #}
  {% if defendantName %}
    <p class="govuk-body">
      Content with defedant name known
    </p>

  {% else %}
    <p class="govuk-body">
      Content with defendant name unkown
    </p>
  {% endif %}

  <form method="post" action="{{ url }}" novalidate>
    <div class="govuk-button-group">
      {{ govukButton({
        text: t('buttons.continue', { ns: 'common' }),
        attributes: { type: 'submit', name: 'action', value: 'continue' }
      }) }}
      {{ govukButton({
        text: t('buttons.saveForLater', { ns: 'common' }),
        classes: "govuk-button--secondary",
        attributes: { type: 'submit', name: 'action', value: 'saveForLater' }
      }) }}
    </div>
  </form>
{% endblock %}
