{% extends "layout.njk" %}

{% block pageTitle %}
Respond to a claim
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">Respond to a claim</h1>

  {# existing page content here #}



{% endblock %}