{% extends "stepsTemplate.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{# GOV.UK pattern: [Browser title] - HM Courts & Tribunals Service – GOV.UK #}
{% block pageTitle %}{{ pageTitle or heading or title }} - HM Courts & Tribunals Service – GOV.UK{% endblock %}

{% block mainContent %}
  {# Error summary - GOV.UK pattern #}
  {% if errorSummary %}
    {{ govukErrorSummary(errorSummary) }}
  {% endif %}

  {# Caption above heading #}
  {% if caption %}
    <span class="govuk-caption-l">{{ caption }}</span>
  {% endif %}

  {# Form #}
  <form method="post" action="{{ url }}" novalidate>
    {# Use a fieldset legend as the page heading (GOV.UK pattern for grouped inputs) #}
    {% if heading or title %}
      {% call govukFieldset({
        legend: {
          text: heading or title,
          classes: "govuk-fieldset__legend--l",
          isPageHeading: true
        }
      }) %}
        {% for field in fields %}
          {% if field.component and field.componentType == 'input' %}
            {{ govukInput(field.component) }}
          {% endif %}
        {% endfor %}
      {% endcall %}
    {% else %}
      {# Fallback: render inputs without a legend #}
      {% for field in fields %}
        {% if field.component and field.componentType == 'input' %}
          {{ govukInput(field.component) }}
        {% endif %}
      {% endfor %}
    {% endif %}

    {# Button group #}
    <div class="govuk-button-group">
      {# Save and continue #}
      {{ govukButton({
        text: continue or t('buttons.continue', { ns: 'common' }),
        attributes: {
          type: 'submit',
          name: 'action',
          value: 'continue'
        }
      }) }}

      {# Save for later #}
      {{ govukButton({
        text: saveForLater or t('buttons.saveForLater', { ns: 'common' }),
        classes: 'govuk-button--secondary',
        attributes: {
          type: 'submit',
          name: 'action',
          value: 'saveForLater'
        }
      }) }}
    </div>
  </form>
{% endblock %}
