{% extends "stepsTemplate.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "macros/csrf.njk" import csrfProtection %}

{# GOV.UK pattern: [Browser title] - HM Courts & Tribunals Service – GOV.UK #}
{% block pageTitle %}{{ pageTitle }} &ndash; HM Courts &amp; Tribunals Service &ndash; GOV.UK{% endblock %}

{% block mainContent %}
  {% if errorSummary %}
    {{ govukErrorSummary(errorSummary) }}
  {% endif %}

  <span class="govuk-caption-xl">{{ caption }}</span>
  <h1 class="govuk-heading-l">{{ heading }}</h1>

    <p class="govuk-body">{{ weUsuallySendACopyOfYourApplication }}</p>
    <p class="govuk-body">{{ inSomeExceptionalCircumstances }}</p>

    <p class="govuk-body">{{ forExampleIf }}</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>{{ itIsUrgent }}</li>
      <li>{{ couldUndermineTheOrder }}</li>
      <li>{{ youBelieveYouAreAtRisk }}</li>
    </ul>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">{{ warningHiddenText }}</span>
        {{ weWillAskYouToProvideTheReason }}
      </strong>
    </div>

  <form method="post" action="{{ url }}" novalidate>

    {% for field in fields %}
      {% if field.componentType == 'radios' %}
        {{ govukRadios(field.component) }}
      {% endif %}
    {% endfor %}

    <div class="govuk-button-group">
      {{ govukButton({
          text: t('buttons.continue', { ns: 'common' }),
          attributes: { type: 'submit', name: 'action', value: 'continue' }
      }) }}
      <p class="govuk-body">
        <a href="{{ dashboardUrl }}" class="govuk-link">{{ cancel }}</a>
      </p>
    </div>

    {{ csrfProtection(csrfToken) }}
  </form>
{% endblock %}
