{% extends "stepsTemplate.njk" %}
{% from "macros/stepButtons.njk" import stepButtons %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "macros/csrf.njk" import csrfProtection %}
{% block pageTitle %}
  {{ pageTitle }} - HM Courts &amp; Tribunals Service &ndash; GOV.UK
{% endblock %}
{% block mainContent %}
  {% if errorSummary %}
    {{ govukErrorSummary(errorSummary) }}
  {% endif %}
  <span class="govuk-caption-l">{{ caption }}</span>
  <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
  <p class="govuk-body">{{ paragraph1 }}</p>
  <p class="govuk-body">{{ paragraph2 }}</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ councilTaxArrears }}</li>
    <li>{{ gasOrElectricityArrears }}</li>
    <li>{{ phoneOrInternetArrears }}</li>
    <li>{{ tvLicenceArrears }}</li>
    <li>{{ courtFines }}</li>
    <li>{{ overpaidTaxCredits }}</li>
    <li>{{ hirePurchaseOrConditionalSalePayments }}</li>
    <li>{{ unpaidIncomeTaxNationalInsuranceOrVat }}</li>
    <li>{{ unpaidChildMaintenance }}</li>
  </ul>
  <p class="govuk-body">
    <a
      class="govuk-link"
      href="https://www.citizensadvice.org.uk/debt-and-money/help-with-debt/dealing-with-your-debts/work-out-which-debts-to-deal-with-first/"
      target="_blank"
      rel="noopener noreferrer"
    >
      {{ guidanceLinkText }}
    </a>.
  </p>
  <form method="post" action="{{ url }}" novalidate>
    {% for field in fields %}
      {% if field.componentType == 'radios' %}
        {{ govukRadios(field.component) }}
      {% endif %}
    {% endfor %}
    {{ stepButtons(saveAndContinue, saveForLater) }}
    {{ csrfProtection(csrfToken) }}
  </form>
{% endblock %}
