{% extends "stepsTemplate.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "macros/formButtons.njk" import formButtons %}

{% block mainContent %}
  <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

  <p class="govuk-body">{{ paragraph1 }}</p>

  <p class="govuk-body">{{ paragraph2 }}</p>

  <ul class="govuk-list govuk-list--bullet">
    {% for item in bulletList %}
      <li>{{ item }}</li>
    {% endfor %}
  </ul>

  <p class="govuk-body">
    <a href="{{ guidanceLinkUrl }}" class="govuk-link" target="_blank" rel="noopener noreferrer">{{ guidanceLinkText }}</a>.
  </p>

  {{ formHtml | safe }}

  {{ formButtons(buttons) }}
{% endblock %}
