{% extends "journeyTemplate.njk" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorSummary %}
      {{ govukErrorSummary(errorSummary) }}
    {% endif %}
    
    {% if secondaryHeading %}
      <h1 class="govuk-heading-m govuk-!-margin-bottom-0 claim-journey-secondary-heading">{{ secondaryHeading }}</h1>
    {% endif %}

    <h2 class="govuk-heading-l">{{ title }}</h2>

    <p class="govuk-body">{{ description | safe }}</p>
  
  {% block respondToClaimContent %}{% endblock %}

  </div>
  
  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <nav role="navigation" aria-labelledby="subsection-title">
        {{ govukDetails({
          summaryText: contactUsForHelp,
          text: contactUsForHelpText
        }) }}
      </nav>
    </aside>
  </div>
</div>

{% endblock %}