{% extends "journeyTemplate.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorSummary %}
      {{ govukErrorSummary(errorSummary) }}
    {% endif %}
    
    {% if step.id != 'start' %}
    <h1 class="govuk-heading-m govuk-!-margin-bottom-0 claim-journey-secondary-heading">Respond to a property possession claim</h1>
    {% endif %}
    {% if step.title %}
      <h2 class="govuk-heading-l">{{ step.title }}</h2>
    {% endif %}

    {% if step.description %}
      <p class="govuk-body">{{ step.description }}</p>
    {% endif %}
  
  {% block respondToClaimContent %}{% endblock %}

  </div>
  
  <div class="govuk-grid-column-one-third">
    <aside class="app-related-items" role="complementary">
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a class="govuk-link govuk-details__summary" href="#">
              Contact us for help
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>

{% endblock %}
