{% extends "stepsTemplate.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "macros/csrf.njk" import csrfProtection %}


{% block pageTitle %}{{ t('pageTitle') }} - HM Courts & Tribunals Service – GOV.UK{% endblock %}

{% block mainContent %}
  <h1 class="govuk-heading-xl">{{ t('heading') }}</h1>


  <form method="post" action="{{ url }}" novalidate>
    <div class="govuk-button-group">
      {{ govukButton({
        text: t('buttons.submit', { ns: 'common' }),
        attributes: { type: 'submit' }
      }) }}
      <p class="govuk-body">
        <a href="{{ dashboardUrl }}" class="govuk-link">{{ t('buttons.cancel', { ns: 'common' }) }}</a>
      </p>
    </div>
    {{ csrfProtection(csrfToken) }}
  </form>
{% endblock %}
