{% extends "stepsTemplate.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "macros/csrf.njk" import csrfProtection %}


{% block pageTitle %}{{ t('pageTitle') }} - HM Courts & Tribunals Service – GOV.UK{% endblock %}

{% block mainContent %}
  {% if errorSummary %}
    {{ govukErrorSummary(errorSummary) }}
  {% endif %}

  <h1 class="govuk-heading-l">{{ t('heading') }}</h1>

  {% set documentsHtml %}
    {% if documents.length > 0 %}
      <ul class="govuk-list">
        {% for d in documents %}<li>{{ d.document_filename }}</li>{% endfor %}
      </ul>
    {% else %}
      {{ t('documentsNone') }}
    {% endif %}
  {% endset %}

  {% if showRelatedApplication %}
    {{ govukSummaryList({
      rows: [
        {
          key: { text: t('relatedApplicationLabel') },
          value: { text: relatedApplicationText },
          actions: {
            items: [
              {
                href: "./confirm-if-these-documents-relate-to-an-application",
                text: t('change', { ns: 'common' })
              }
            ]
          }
        },
        {
          key: { text: t('documentsLabel') },
          value: { html: documentsHtml },
          actions: {
            items: [
              {
                href: "./upload-your-documents",
                text: t('change', { ns: 'common' })
              }
            ]
          }
        }
      ]
    }) }}
  {% else %}
    {{ govukSummaryList({
      rows: [
        {
          key: { text: t('documentsLabel') },
          value: { html: documentsHtml },
          actions: {
            items: [
              {
                href: "./upload-your-documents",
                text: t('change', { ns: 'common' })
              }
            ]
          }
        }
      ]
    }) }}
  {% endif %}

  <form method="post" action="{{ url }}" novalidate>
    <div class="govuk-button-group">
      {{ govukButton({
        text: t('buttons.submit', { ns: 'common' }),
        attributes: { type: 'submit', id: 'submit' }
      }) }}
      <p class="govuk-body">
        <a href="{{ cancelUrl }}" class="govuk-link">{{ t('buttons.cancel', { ns: 'common' }) }}</a>
      </p>
    </div>
    {{ csrfProtection(csrfToken) }}
  </form>
{% endblock %}
