{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{#
  fieldConfig is the address field definition from the engine.
  fieldConfig.namePrefix is the base field name; inputs are named using `${namePrefix}-<part>`
  fieldConfig.value contains any existing values for prefilling.

  This component assumes a single address widget per page and uses fixed ids to hook JS:
    - lookupPostcode, findAddressBtn, selectedAddress
    - addressLine1/2/3, town, county, postcode, country
 #}

{% set namePrefix = fieldConfig.namePrefix or 'address' %}
{% set val = fieldConfig.value or {} %}
{% set errs = errors or {} %}

<div class="pcs-address-component" data-address-component data-name-prefix="{{ namePrefix }}">

  {% if fieldConfig.label %}
    {% if fieldConfig.label.text %}
      <h2 class="govuk-heading-m">{{ fieldConfig.label.text }}</h2>
    {% else %}
      <h2 class="govuk-heading-m">{{ fieldConfig.label }}</h2>
    {% endif %}
  {% endif %}

  <div class="govuk-form-group">
    <label class="govuk-label" for="{{ namePrefix }}-lookupPostcode">{{ t('address.lookupPostcode', 'Enter a UK postcode') }}</label>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <input class="govuk-input govuk-!-width-one-half" id="{{ namePrefix }}-lookupPostcode" name="{{ namePrefix }}-lookupPostcode" value="">
      <button class="govuk-button" id="{{ namePrefix }}-findAddressBtn" type="button">
        {{ t('address.findAddress', 'Find address') }}
      </button>
    </div>
  </div>
  </div>

  <div class="govuk-form-group" id="{{ namePrefix }}-addressSelectContainer" hidden>
    <label class="govuk-label" for="{{ namePrefix }}-selectedAddress">{{ t('address.selectAddress', 'Select your address') }}</label>
    <select class="govuk-select govuk-!-width-three-quarters" id="{{ namePrefix }}-selectedAddress">
    <option value="">{{ t('address.addressesFound', 'Addresses will appear here') }}</option>
    </select>
  </div>

{% set manualAddressHtml %}
  {{ govukInput({
    id: namePrefix + '-addressLine1',
    name: namePrefix + '-addressLine1',
    label: { text: t('address.addressLine1', 'Address Line 1') },
    value: val.addressLine1,
    classes: 'govuk-!-width-three-quarters',
    errorMessage: errs[namePrefix ~ '-addressLine1'] and { text: errs[namePrefix ~ '-addressLine1'].message }
  }) }}

  {{ govukInput({
    id: namePrefix + '-addressLine2',
    name: namePrefix + '-addressLine2',
    label: { text: t('address.addressLine2', 'Address Line 2 (optional)') },
    value: val.addressLine2,
    classes: 'govuk-!-width-three-quarters'
  }) }}

  {{ govukInput({
    id: namePrefix + '-addressLine3',
    name: namePrefix + '-addressLine3',
    label: { text: t('address.addressLine3', 'Address Line 3 (optional)') },
    value: val.addressLine3,
    classes: 'govuk-!-width-three-quarters'
  }) }}

  {{ govukInput({
    id: namePrefix + '-town',
    name: namePrefix + '-town',
    label: { text: t('address.town', 'Town or city') },
    value: val.town,
    classes: 'govuk-!-width-three-quarters',
    errorMessage: errs[namePrefix ~ '-town'] and { text: errs[namePrefix ~ '-town'].message }
  }) }}

  {{ govukInput({
    id: namePrefix + '-county',
    name: namePrefix + '-county',
    label: { text: t('address.county', 'County (optional)') },
    value: val.county,
    classes: 'govuk-!-width-three-quarters'
  }) }}

  {{ govukInput({
    id: namePrefix + '-postcode',
    name: namePrefix + '-postcode',
    label: { text: t('address.postcode', 'Postcode') },
    value: val.postcode,
    classes: 'govuk-!-width-one-quarter',
    errorMessage: errs[namePrefix ~ '-postcode'] and { text: errs[namePrefix ~ '-postcode'].message }
  }) }}

  {{ govukInput({
    id: namePrefix + '-country',
    name: namePrefix + '-country',
    label: { text: t('address.country', 'Country (optional)') },
    value: val.country,
    classes: 'govuk-!-width-three-quarters'
  }) }}
{% endset %}

{{ govukDetails({
  summaryText: t('address.manualEntryToggle', 'Enter an address manually'),
  html: manualAddressHtml,
  open: (val.addressLine1 and val.town and val.postcode)
}) }}

</div>
