<div class="govuk-accordion" data-module="govuk-accordion" id="contact-us-accordion">
  <div class="govuk-accordion__section">
    <div class="govuk-accordion__section-header">
      <h2 class="govuk-accordion__section-heading">
        <button
          type="button"
          class="govuk-accordion__section-button"
          id="contact-us-accordion-heading"
          aria-controls="contact-us-accordion-content">
          Contact us for help
        </button>
      </h2>
    </div>

    <div
      id="contact-us-accordion-content"
      class="govuk-accordion__section-content"
      aria-labelledby="contact-us-accordion-heading">

      <p class="govuk-body">
        If you need help responding to this claim, you can contact the court.
      </p>

      <p class="govuk-body">
        <a
          class="govuk-link"
          href="https://www.find-court-tribunal.service.gov.uk/"
          target="_blank"
          rel="noopener noreferrer">
          Find a court or tribunal service
        </a>
        to get your local court’s email address.
      </p>

      <p class="govuk-body">
        Telephone: 0300 123 1056
      </p>

      <p class="govuk-body">
        <a
          class="govuk-link"
          href="https://www.gov.uk/call-charges"
          target="_blank"
          rel="noopener noreferrer">
          Find out about call charges
        </a>
      </p>
    </div>
  </div>
</div>