{% extends "stepsTemplate.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block mainContent %}

  <form method="post" action="{{ url }}" novalidate>
    <h1 class="govuk-heading-l">{{ title }}</h1>
    <p class="govuk-body">{{ subtitle }}</p>

    {% set postcodeFinderHtml %}
      <div class="govuk-form-group postcode-container govuk-!-margin-top-4" data-address-component data-name-prefix="correspondence">
        <h2 class="govuk-heading-m">{{ labels.enterAddress }}</h2>
        <label class="govuk-label" for="correspondence-lookupPostcode">
          {{ labels.enterPostcode }}
        </label>
        <p class="govuk-error-message govuk-visually-hidden" id="correspondence-postcode-error" role="alert">
          <span class="govuk-visually-hidden">Error:</span> {{ errors.postcodeNotFound }}
        </p>
        <input class="govuk-input govuk-input--width-10" 
                id="correspondence-lookupPostcode" 
                name="lookupPostcode" 
                type="text" 
                autocomplete="postal-code"
                aria-describedby="correspondence-postcode-error"/>
        <button class="govuk-button" 
                id="correspondence-findAddressBtn"
                data-module="govuk-button" 
                type="button">
          {{ buttons.findAddress }}
        </button>
        
        <div id="correspondence-addressSelectContainer" hidden>
          {{ govukSelect({
            id: 'correspondence-selectedAddress',
            name: "addressList",
            classes: 'addressList govuk-!-width-full',
            label: {
              text: labels.selectAddress,
              for: 'correspondence-selectedAddress'
            },
            items: [
              {
                value: "",
                text: "Select an address",
                selected: true
              }
            ]
          }) }}
        </div>
        
        {{ govukDetails({
          summaryText: labels.enterManually,
          text: labels.enterManuallySubText,
          id: "correspondence-enterManuallyDetails"
        }) }}
        
        <div class="govuk-visually-hidden address-form" id="correspondence-addressForm">
          <h2 class="govuk-heading-m govuk-!-margin-top-6">{{ labels.addressHeading }}</h2>
          
          {{ govukInput({
            id: 'correspondence-addressLine1',
            name: 'addressLine1',
            label: {
              text: labels.addressLine1
            },
            classes: 'govuk-!-width-two-thirds',
            autocomplete: 'address-line1',
            value: fieldValues.addressLine1
          }) }}

          {{ govukInput({
            id: 'correspondence-addressLine2',
            name: 'addressLine2',
            label: {
              text: labels.addressLine2
            },
            classes: 'govuk-!-width-two-thirds',
            autocomplete: 'address-line2',
            value: fieldValues.addressLine2
          }) }}

          {{ govukInput({
            id: 'correspondence-town',
            name: 'townOrCity',
            label: {
              text: labels.townOrCity
            },
            classes: 'govuk-!-width-two-thirds',
            autocomplete: 'address-level2',
            value: fieldValues.townOrCity
          }) }}

          {{ govukInput({
            id: 'correspondence-county',
            name: 'county',
            label: {
              text: labels.county
            },
            classes: 'govuk-!-width-two-thirds',
            value: fieldValues.county
          }) }}

          {{ govukInput({
            id: 'correspondence-postcode',
            name: 'postcode',
            label: {
              text: labels.postcode
            },
            classes: 'govuk-!-width-one-third',
            autocomplete: 'postal-code',
            value: fieldValues.postcode
          }) }}
        </div>
      </div>
    {% endset %}

    {{ govukRadios({
      name: "correspondenceAddressConfirm",
      fieldset: {
        legend: {
          text: legend,
          isPageHeading: false,
          classes: "govuk-visually-hidden"
        }
      },
      items: [
        {
          value: "yes",
          text: labels.yes
        },
        {
          value: "no",
          text: labels.no,
          conditional: {
            html: postcodeFinderHtml
          }
        }
      ]
    }) }}

    <div class="govuk-button-group">
      {{ govukButton({
        text: buttons.saveAndContinue
      }) }}
      {{ govukButton({
        text: buttons.saveForLater,
        classes: "govuk-button--secondary"
      }) }}
    </div>
  </form>


{% endblock %}
