{% extends "stepsTemplate.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{# GOV.UK pattern: [Browser title] - HM Courts & Tribunals Service – GOV.UK #}
{% block pageTitle %}{{ t('pageTitle') }} - HM Courts & Tribunals Service – GOV.UK{% endblock %}

{% block mainContent %}

  <form method="post" action="{{ url }}" novalidate>
    <h1 class="govuk-heading-l">{{ title }}</h1>
    <p class="govuk-body">{{ subtitle }}</p>

    {% set postcodeFinderHtml %}
      <div class="govuk-form-group postcode-container govuk-!-margin-top-4" data-address-component data-name-prefix="correspondence">
        <h2 class="govuk-heading-m">{{ labels.enterAddress }}</h2>
        <label class="govuk-label" for="correspondence-lookupPostcode">
          {{ labels.enterPostcode }}
        </label>
        <p class="govuk-error-message govuk-visually-hidden" id="correspondence-postcode-error" role="alert">
          <span class="govuk-visually-hidden">Error:</span> {{ errors.postcodeNotFound }}
        </p>
        <input class="govuk-input govuk-input--width-10" 
                id="correspondence-lookupPostcode" 
                name="lookupPostcode" 
                type="text" 
                autocomplete="postal-code"
                aria-describedby="correspondence-postcode-error"/>
        <button class="govuk-button" 
                id="correspondence-findAddressBtn"
                data-module="govuk-button" 
                type="button">
          {{ buttons.findAddress }}
        </button>
        
        <div id="correspondence-addressSelectContainer" hidden>
          {{ govukSelect({
            id: 'correspondence-selectedAddress',
            name: "addressList",
            classes: 'addressList govuk-!-width-full',
            label: {
              text: labels.selectAddress,
              for: 'correspondence-selectedAddress'
            },
            items: [
              {
                value: "",
                text: "Select an address",
                selected: true
              }
            ]
          }) }}
        </div>
        
        {{ govukDetails({
          summaryText: labels.enterManually,
          text: labels.enterManuallySubText,
          id: "correspondence-enterManuallyDetails"
        }) }}
        
        <div class="govuk-visually-hidden address-form" id="correspondence-addressForm">
          <h2 class="govuk-heading-m govuk-!-margin-top-6">{{ labels.addressHeading }}</h2>
          
          <div class="govuk-form-group">
            <label class="govuk-label" for="correspondence-addressLine1">
              {{ labels.addressLine1 }}
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" 
                    id="correspondence-addressLine1" 
                    name="addressLine1" 
                    type="text" 
                    autocomplete="address-line1"/>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="correspondence-addressLine2">
              {{ labels.addressLine2 }}
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" 
                    id="correspondence-addressLine2" 
                    name="addressLine2" 
                    type="text" 
                    autocomplete="address-line2"/>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="correspondence-town">
              {{ labels.townOrCity }}
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" 
                    id="correspondence-town" 
                    name="townOrCity" 
                    type="text" 
                    autocomplete="address-level2"/>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="correspondence-county">
              {{ labels.county }}
            </label>
            <input class="govuk-input govuk-!-width-two-thirds" 
                    id="correspondence-county" 
                    name="county" 
                    type="text"/>
          </div>

          <div class="govuk-form-group">
            <label class="govuk-label" for="correspondence-postcode">
              {{ labels.postcode }}
            </label>
            <input class="govuk-input govuk-!-width-one-third" 
                    id="correspondence-postcode" 
                    name="postcode" 
                    type="text" 
                    autocomplete="postal-code"/>
          </div>
        </div>
      </div>
    {% endset %}

    {{ govukRadios({
      name: "correspondenceAddressConfirm",
      fieldset: {
        legend: {
          text: legend,
          isPageHeading: false,
          classes: "govuk-visually-hidden"
        }
      },
      items: [
        {
          value: "yes",
          text: labels.yes
        },
        {
          value: "no",
          text: labels.no,
          conditional: {
            html: postcodeFinderHtml
          }
        }
      ]
    }) }}

    <div class="govuk-button-group">
      {{ govukButton({
        text: buttons.saveAndContinue
      }) }}
      {{ govukButton({
        text: buttons.saveForLater,
        classes: "govuk-button--secondary"
      }) }}
    </div>
  </form>


{% endblock %}
