.govuk-service-navigation {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

.govuk-service-navigation__wrapper {
  display: flex !important;
  justify-content: flex-end !important;
}

.govuk-service-navigation__service-name .govuk-service-navigation__link {
  color: govuk-colour('black');
  font-weight: bold;
}

.govuk-language-toggle {
  text-align: right;
}
