{% extends "stepsTemplate.njk" %}
{% from "macros/stepButtons.njk" import stepButtons %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/csrf.njk" import csrfProtection %}
{% block pageTitle %}Regular income &ndash; HM Courts &amp; Tribunals Service &ndash; GOV.UK{% endblock %}

{% block mainContent %}
  {% if errorSummary %}
    {{ govukErrorSummary(errorSummary) }}
  {% endif %}
  <span class="govuk-caption-l">{{ caption }}</span>
  <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
  <p class="govuk-body">{{ hint }}</p>
  <form method="post" action="{{ url }}">
    {% set selectedRegularIncome = regularIncome or (fieldValues and fieldValues.regularIncome) or [] %}
    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-visually-hidden">{{ fieldsetLegend }}</legend>
        <div class="govuk-checkboxes" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input
              class="govuk-checkboxes__input"
              id="regularIncome-universalCredit"
              name="regularIncome"
              type="checkbox"
              value="universalCredit"
              {% if selectedRegularIncome.includes and selectedRegularIncome.includes('universalCredit') %}checked{% endif %}
            />
            <label class="govuk-label govuk-checkboxes__label" for="regularIncome-universalCredit">
              {{ optionUniversalCredit }}
            </label>
          </div>
        </div>
      </fieldset>
    </div>
    {{ stepButtons(continue, saveForLater) }}
    {{ csrfProtection(csrfToken) }}
  </form>
{% endblock %}
