{% extends "stepsTemplate.njk" %}
{% from "macros/stepButtons.njk" import stepButtons %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "macros/csrf.njk" import csrfProtection %}
{% from "macros/caseNumberDisplay.njk" import caseNumberDisplay %}

{% block pageTitle %}{{ pageTitle }} &ndash; HM Courts &amp; Tribunals Service &ndash; GOV.UK{% endblock %}

{% block mainContent %}
  {% if errorSummary %}
    {{ govukErrorSummary(errorSummary) }}
  {% endif %}

  {% if caption %}
    <span class="govuk-caption-l">{{ caption }}</span>
  {% endif %}

  <h1 class="govuk-heading-l">{{ heading }}</h1>

  {{ caseNumberDisplay(isLegalRepresentative, caseNumber) }}

  {% if isLegalRepresentative %}
      <h2 class="govuk-heading-s">{{ question }}</h2>
  {% endif %}

  <form method="post" action="{{ url }}" novalidate>
    {% for field in fields %}
      {% if field.componentType == 'checkboxes' %}
        {{ govukCheckboxes(field.component) }}
      {% endif %}
    {% endfor %}

    {{ stepButtons(saveAndContinue, saveForLater) }}
    {{ csrfProtection(csrfToken) }}
  </form>
{% endblock %}
