{% extends "journeyTemplate.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

  <!-- Title: Dynamically translated -->
  <h1 class="govuk-heading-l">{{ translations.startPage.title }}</h1>

  <!-- Description: Dynamically translated -->
  <p class="govuk-body">{{ translations.startPage.description }}</p>
  <p class="govuk-body">{{ translations.startPage.eligibilityText }}</p>

  <!-- What you'll need section -->
  <h2 class="govuk-heading-s">{{ translations.startPage.whatYouNeedTitle }}</h2>
  <p class="govuk-body">{{ translations.startPage.whatYouNeedText }}</p>

  <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>{{ translations.startPage.needNoticeInfo }}</li>
    <li>{{ translations.startPage.needPropertyInfo }}</li>
    <li>{{ translations.startPage.needDefendantInfo }}</li>
    <li>{{ translations.startPage.needGroundsInfo }}</li>
    <li>{{ translations.startPage.needDocuments }}</li>
  </ul>

  <form method="post" novalidate>
    <input type="hidden" name="lang" value="{{ lang }}"/>
    <div class="govuk-button-group">
      {{ govukButton({
        text: translations.buttons.start,
        attributes: { type: 'submit' }
      }) }}
    </div>
  </form>

{% endblock %}
