{% extends "journeyTemplate.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

  <h1 class="govuk-heading-l">{{ t('startPage.title') }}</h1>

  <p class="govuk-body">{{ t('startPage.description') }}</p>
  <p class="govuk-body">{{ t('startPage.eligibilityText') }}</p>

  <h2 class="govuk-heading-s">{{ t('startPage.whatYouNeedTitle') }}</h2>
  <p class="govuk-body">{{ t('startPage.whatYouNeedText') }}</p>

  <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    <li>{{ t('startPage.needNoticeInfo') }}</li>
    <li>{{ t('startPage.needPropertyInfo') }}</li>
    <li>{{ t('startPage.needDefendantInfo') }}</li>
    <li>{{ t('startPage.needGroundsInfo') }}</li>
    <li>{{ t('startPage.needDocuments') }}</li>
  </ul>

  <form method="post" novalidate>
    <div class="govuk-button-group">
      {{ govukButton({
        text: t('buttons.start', 'Start'),
        attributes: { type: 'submit' }
      }) }}
    </div>
  </form>

{% endblock %}
