{% extends "journeyTemplate.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <h1 class="govuk-heading-l">{{ step.title }}</h1>

  <p class="govuk-body">{{ intro.p1 }}</p>
  <p class="govuk-body">{{ intro.p2 }}</p>

  <h2 class="govuk-heading-s">{{ sectionHeading }}</h2>
  <p class="govuk-body">{{ explanation }}</p>

  <ul class="govuk-list govuk-list--bullet govuk-list--spaced">
    {% for item in bulletPoints %}
      <li>{{ item }}</li>
    {% endfor %}
  </ul>

  <form method="post" novalidate>
    {% if query.lang %}
      <input type="hidden" name="lang" value="{{ query.lang }}">
    {% endif %}
    <div class="govuk-button-group">
      {{ govukButton({
        text: fields.startButton.text,
        attributes: { type: 'submit' }
      }) }}
    </div>
  </form>
{% endblock %}
