<h1 class="govuk-heading-xl govuk-!-margin-bottom-2">Make an order</h1>

<p class="govuk-body govuk-!-margin-bottom-1">
  <span class="govuk-!-font-weight-bold">Case reference:</span> {{ caseReferenceDisplay }}
</p>
<p class="govuk-body govuk-!-margin-bottom-1">{{ propertyAddressDisplay }}</p>
<p class="govuk-body govuk-!-font-weight-bold">
  {{ claimantNames }} vs {{ defendantNames }}
</p>
