<section class="govuk-!-margin-top-6" aria-labelledby="order-preview-heading">
  <h2 class="govuk-heading-l" id="order-preview-heading">Order preview</h2>
  <div id="order-preview-editor">
    <div id="order-editor"></div>
  </div>
  <textarea hidden id="order-document" name="orderDocument">{{ orderDocumentJson }}</textarea>
</section>
