{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{{ govukCheckboxes({
  idPrefix: "staff-message",
  name: "staff-message",
  classes: "govuk-checkboxes--small",
  items: [{
    value: "yes",
    text: "Staff message",
    conditional: {
      html: govukTextarea({
        id: "staff-message-text",
        name: "staff-message-text",
        rows: 4,
        label: { text: "Message for court staff" }
      })
    }
  }]
}) }}
