{% extends "stepsTemplate.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/input/macro.njk" import govukInput %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="post" action="{{ url }}" novalidate>
        <h1 class="govuk-heading-l">{{ title }}</h1>
        <p class="govuk-body">{{ subtitle }}</p>

        {% set phoneNumberHtml %}
          <div class="govuk-form-group govuk-!-margin-top-4">
            {{ govukInput({
              id: "phoneNumber",
              name: "phoneNumber",
              type: "tel",
              autocomplete: "tel",
              classes: "govuk-input--width-20",
              label: {
                text: labels.phoneNumberLabel
              },
              value: phoneNumber
            }) }}
          </div>
        {% endset %}

        {{ govukRadios({
          name: "contactByTelephone",
          fieldset: {
            legend: {
              text: labels.question,
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: labels.yes,
              checked: contactByTelephone == "yes",
              conditional: {
                html: phoneNumberHtml
              }
            },
            {
              value: "no",
              text: labels.no,
              checked: contactByTelephone == "no"
            }
          ]
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: buttons.saveAndContinue
          }) }}
          {{ govukButton({
            text: buttons.saveForLater,
            classes: "govuk-button--secondary"
          }) }}
        </div>
      </form>
    </div>
  </div>

{% endblock %}
