{% extends "template.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block content %}
  {{ govukBackLink({
    text: "Back",
    href: backUrl
  }) }}

  <h1 class="govuk-heading-l">{{ title }}</h1>

  <form method="post" action="/steps/page3/yes">
    {{ govukCheckboxes({
      idPrefix: "choices",
      name: "choices",
      fieldset: {
        legend: {
          text: "Select all that apply",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      items: [
        {
          value: "Rent arrears (ground 8)",
          text: "Rent arrears (ground 8)",
          checked: selected and selected.includes("Rent arrears (ground 8)")
        },
        {
          value: "Any rent arrears (ground 10)",
          text: "Any rent arrears (ground 10)",
          checked: selected and selected.includes("Any rent arrears (ground 10)")
        },
        {
          value: "Persistent arrears (ground 11)",
          text: "Persistent arrears (ground 11)",
          checked: selected and selected.includes("Persistent arrears (ground 11)")
        }
      ]
    }) }}

    {{ govukButton({
      text: next,
      preventDoubleClick: true
    }) }}
  </form>
{% endblock %}
