{% extends "template.njk" %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block content %}
  <h1 class="govuk-heading-l">{{ t('claimSummary:heading') }}</h1>

  <p class="govuk-body">{{ t('claimSummary:accessYourCase') | safe }}</p>

  <h2 class="govuk-heading-m">{{ t('claimSummary:claimsMadeAgainstYou') }}</h2>

  {% if tableRows.length %}
    {{ govukTable({
      head: [
        { text: t('claimSummary:table.claimNumber') },
        { text: t('claimSummary:table.claimantsName') },
        { text: t('claimSummary:table.propertyPostcode') },
        { text: t('claimSummary:table.actions') }
      ],
      rows: tableRows
    }) }}
  {% else %}
    <p class="govuk-body">{{ t('claimSummary:noClaimsFound') }}</p>
  {% endif %}
{% endblock %}
