{% extends "template.njk" %}
{%- from "components/notification/macro.njk" import notification -%}
{%- from "components/taskGroup/macro.njk" import taskGroup -%}

{% block content %}

  {% if propertyAddress %}
    <p class="govuk-heading-m govuk-!-margin-bottom-1">
      {{ propertyAddress }}
    </p>
  {% endif %}

  {% if dashboardCaseReference %}
    <p class="govuk-body">
      Case number: {{ dashboardCaseReference }}
    </p>
  {% endif %}

  {% for dashboardNotification in notifications %}
    {{ notification(dashboardNotification.templateId, dashboardNotification.templateValues)
    }}    
  {% endfor %}

  {% for dashboardTaskGroup in taskGroups %}
      {{ taskGroup(dashboardTaskGroup) }}
  {% endfor %}

{% endblock %}
