{% extends "template.njk" %}
{%- from "components/notification/macro.njk" import notification -%}
{%- from "components/taskGroup/macro.njk" import taskGroup -%}

{% block content %}
  <h1 class="govuk-heading-l">Dashboard</h1>

  {% for dashboardNotification in notifications %}
    {{ notification(dashboardNotification.templateId, dashboardNotification.templateValues)
    }}    
  {% endfor %}

  {% for dashboardTaskGroup in taskGroups %}
      {{ taskGroup(dashboardTaskGroup) }}
  {% endfor %}

  <script>
    // Log PCS API data in browser console
    console.log('PCS API Notifications:', {{ notifications | dump | safe }});
    console.log('PCS API Task Groups:', {{ taskGroups | dump | safe }});
  </script>

{% endblock %}
