{% extends "stepsTemplate.njk" %}

{% block mainContent %}
<div class="govuk-grid-row">
  <h1 class="govuk-heading-xl">{{ errorTitle or t('errorPages.500.title') or "Something went wrong" }}</h1>
  <p class="govuk-body">{{ errorParagraph or t('errorPages.500.paragraph') or "An error occurred while processing your request." }}</p>
</div>
{% endblock %}
