{% extends "stepsTemplate.njk" %}

{% block mainContent %}
  <h1 class="govuk-heading-l">{{ errorTitle or t('errorPages.500.title') or "Something went wrong" }}</h1>
  <p class="govuk-body">{{ errorParagraph or t('errorPages.500.paragraph') or "An error occurred while processing your request." }}</p>
{% endblock %}
