{% extends "template.njk" %}

{% block content %}
  <h1 class="govuk-heading-xl">Welcome to the PCS home page</h1>

<h1 class="govuk-heading-m"> {{ landingGreeting }} </h1>
<p>RESPONSE FROM API: {{ apiResponse }}</p>

{% endblock %}