{% extends "govuk/template.njk" %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% block head %}
  {{ super() }}
  {% include "webpack/css.njk" %}
{% endblock %}

{% block header %}
  {{ govukHeader({
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {% block serviceNavigation %}
    {{ govukServiceNavigation({
      serviceName: t('serviceName', 'Respond to a property possession claim'),
      serviceUrl: "/dashboard?lang=" ~ lang,
      navigation: [
        {
          text: t('logout', 'Log out'),
          href: "/logout?lang=" ~ lang
        }
      ],
      navigationLabel: t('navigationLabel', 'Service navigation'),
      navigationClasses: "pcs-service-navigation-wrapper"
    }) }}
  {% endblock %}

  <div class="govuk-width-container">
    {{ govukPhaseBanner({
      tag: { text: t('phase', 'Alpha') },
      html: (t('feedback') | safe)
    }) }}

  </div>

  {% if previousStepUrl %}
    {{ govukBackLink({
      text: t('back', 'Back'),
      href: previousStepUrl
    }) }}
  {% endif %}

  <div class="govuk-width-container">
    <div class="govuk-language-toggle">
      {{ (languageToggle or t('languageToggle') or '') | safe }}
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "webpack/js.njk" %}
{% endblock %}
