{% extends "govuk/template.njk" %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/service-navigation/macro.njk" import govukServiceNavigation %}

{% block head %}
  <title>{% block pageTitle %}GOV.UK - {{ journey.meta.name }}{% endblock %}</title>
  {% include "webpack/css.njk" %}
{% endblock %}

{% block header %}
  {{ govukHeader({
    containerClasses: "govuk-width-container"
  }) }}
{% endblock %}

{% block beforeContent %}
  {{ govukServiceNavigation({
    serviceName: t('serviceName', 'Respond to property possession claims'),
    serviceUrl: "/dashboard?lang=" ~ lang,
    navigation: [
      {
        text: t('logout', 'Log out'),
        href: "/logout?lang=" ~ lang
      }
    ],
    navigationLabel: "Service navigation"
  }) }}

  <div class="govuk-width-container">
    {{ govukPhaseBanner({
      tag: { text: t('phase', 'Alpha') },
      html: (t('feedback') | safe)
    }) }}

  </div>

  {% if previousStepUrl %}
    {{ govukBackLink({
      text: t('back', 'Back'),
      href: previousStepUrl
    }) }}
  {% endif %}

  <div class="govuk-width-container">
    <div class="govuk-language-toggle">
      {# Build a safe language toggle without inline ternary #}
      {% if lang == 'cy' %}
        {% set languageToggle = '<a href="?lang=en" class="govuk-link language">English</a>' %}
      {% else %}
        {% set languageToggle = '<a href="?lang=cy" class="govuk-link language">Cymraeg</a>' %}
      {% endif %}
      {{ languageToggle | safe }}
    </div>
  </div>
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "webpack/js.njk" %}
{% endblock %}
