{% extends "govuk/template.njk" %}
{% from "govuk/components/header/macro.njk" import govukHeader %}
{% from "govuk/components/phase-banner/macro.njk" import govukPhaseBanner %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block head %}
  <title>{% block pageTitle %}Possession claims{% endblock %} - GOV.UK</title>
  {% include "webpack/css.njk" %}
{% endblock %}

{% block header %}
  {{ govukHeader({
    containerClasses: "govuk-width-container",
    serviceName: serviceName or "Possession claims",
    serviceUrl: "/",
    navigation: [
    {
      text: 'logout',
      href: '/logout'
    }
  ]
  }) }}
{% endblock %}

{% block beforeContent %}
    <div class="govuk-width-container">
      {{ govukPhaseBanner({
        tag: {
          text: phase | safe
        },
        html:(feedback + languageToggle) | safe
      }) }}
  </div>
  {% if backUrl %}
    {{ govukBackLink({
      text: back or "Back",
      href: backUrl
    }) }}
  {% endif %}
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% block mainContent %}
        {# Steps can override this block for their content #}
        {# If mainContent is not overridden, steps can still override content block directly #}
      {% endblock %}
    </div>
    
    {% if contactUsForHelp %}
      <div class="govuk-grid-column-one-third">
        <aside class="app-related-items" role="complementary">
          <nav role="navigation" aria-labelledby="subsection-title">
            {{ govukDetails({
              summaryText: contactUsForHelp,
              text: contactUsForHelpText or ""
            }) }}
          </nav>
        </aside>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "webpack/js.njk" %}
{% endblock %}


