{% extends "govuk/template.njk" %}
{% from "govuk/components/header/macro.njk" import govukHeader %}


{% block bodyAttributes %}
  data-session-timeout="{{ sessionTimeout.sessionTimeoutMinutes }}"
  data-session-warning="{{ sessionTimeout.sessionWarningMinutes }}"
  data-session-check-interval="{{ sessionTimeout.checkIntervalSeconds }}"
{% endblock %}

{% block head %}
  {% include "webpack/css.njk" %}
{% endblock %}

{% block header %}
{{ govukHeader({
  serviceName: serviceName or "Possession claims",
  navigation: [
    {
      text: 'logout',
      href: '/logout'
    }
  ]
}) }}
{% endblock %}

{% block beforeContent %}
  {% block modal %}
    {% include "components/timeout-modal.njk" %}
  {% endblock %}
{% endblock %}

{% block bodyEnd %}
  {# Run JavaScript at end of the <body>, to avoid blocking the initial render. #}
  {% include "webpack/js.njk" %}
{% endblock %}
