{% extends "template.njk" %}

{% block pageTitle %}
{{ t('dashboard:uploadAdditionalDocuments') }}
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">{{ t('dashboard:uploadAdditionalDocuments') }}</h1>
  <p class="govuk-body">Placeholder Screen</p>
{% endblock %}
