{% extends "template.njk" %}

{% block pageTitle %}
View the response - HM Courts &amp; Tribunals Service &ndash; GOV.UK
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-l">View the response</h1>


{% endblock %}