{% extends "template.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set backUrl = dashboardUrl %}

{% block pageTitle %}
  {{ t('viewTheClaim:pageTitle') }} - HM Courts &amp; Tribunals Service &ndash; GOV.UK
{% endblock %}

{% macro claimSummarySection(summarySection) %}
  <h2 class="govuk-heading-m govuk-!-margin-bottom-3">{{ summarySection.title }}</h2>
  {{ govukSummaryList({
    rows: summarySection.rows,
    classes: 'govuk-!-margin-bottom-6'
  }) }}
{% endmacro %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds view-the-claim">
      
      <div class="govuk-grid-row govuk-!-margin-bottom-2">
        <div class="govuk-grid-column-two-thirds">
          <span class="govuk-caption-l">{{ t('viewTheClaim:theClaimEyebrow') }}</span>
          <h1 class="govuk-heading-l">{{ t('viewTheClaim:pageTitle') }}</h1>
        </div>
        <div class="govuk-grid-column-one-third govuk-!-text-align-right">
          <a class="govuk-link govuk-!-display-inline-block govuk-!-margin-top-3" href="#view-the-claim-help">{{ t('viewTheClaim:contactUsForHelp') }}</a>
        </div>
      </div>

      {% if propertyAddressText %}
        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-0">
          <span>{{ t('viewTheClaim:propertyAddressLabel') }}</span> {{ propertyAddressText }}
        </p>
      {% endif %}

      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-top-0 govuk-!-margin-bottom-6">
        <span >{{ t('viewTheClaim:caseNumberLabel') }}</span> {{ caseReference | caseReferenceDisplay }}
      </p>

      <p class="govuk-body govuk-!-margin-bottom-6">{{ introText }}</p>

      {{ govukSummaryList({
        rows: pageMetadataRows,
        classes: 'govuk-!-margin-bottom-6'
      }) }}

      {% for section in sections %}
        {{ claimSummarySection(section) }}
      {% endfor %}

      <h2 class="govuk-heading-m govuk-!-margin-bottom-3">{{ t('viewTheClaim:sections.statementOfTruth') }}</h2>
      <p class="govuk-body govuk-!-margin-bottom-6">{{ t('viewTheClaim:statementOfTruthBody') }}</p>
      {{ govukSummaryList({
        rows: statementOfTruth.rows,
        classes: 'govuk-!-margin-bottom-6'
      }) }}

      <h2 class="govuk-heading-m govuk-!-margin-bottom-3">{{ claimPdfSection.title }}</h2>
      {% if claimPdfSection.rows[0].value.html %}
        <p class="govuk-body govuk-!-margin-bottom-6">{{ claimPdfSection.rows[0].value.html | safe }}</p>
      {% else %}
        <p class="govuk-body govuk-!-margin-bottom-6">{{ claimPdfSection.rows[0].value.text }}</p>
      {% endif %}

      {{ govukButton({
        text: t('viewTheClaim:closeAndReturn'),
        href: dashboardUrl
      }) }}

      {{ govukDetails({
        id: 'view-the-claim-help',
        summaryText: t('viewTheClaim:documentsHelpSummary'),
        open: true,
        html: '<p class="govuk-body">'
              + t('viewTheClaim:documentsHelpBody')
              + ' <a class="govuk-link" href="' + (documentsUrl or '#') + '">'
              + t('viewTheClaim:documentsHelpLinkText')
              + '</a>.</p>'
      }) }}
    </div>
  </div>
{% endblock %}
