{% extends "template.njk" %}
{% from "govuk/components/details/macro.njk" import govukDetails %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}
{{ t('viewTheClaim:pageTitle') }}
{% endblock %}

{% macro claimSummarySection(summarySection) %}
  <h2 class="govuk-heading-m govuk-!-margin-bottom-3">{{ summarySection.title }}</h2>
  {{ govukSummaryList({
    rows: summarySection.rows,
    classes: 'govuk-!-margin-bottom-6'
  }) }}
{% endmacro %}

{% macro claimPdfBlock(summarySection) %}
  <h2 class="govuk-heading-m govuk-!-margin-bottom-3">{{ summarySection.title }}</h2>
  {% if summarySection.rows[0].value.html %}
    <p class="govuk-body govuk-!-margin-bottom-6">{{ summarySection.rows[0].value.html | safe }}</p>
  {% else %}
    <p class="govuk-body govuk-!-margin-bottom-6">{{ summarySection.rows[0].value.text }}</p>
  {% endif %}
{% endmacro %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-grid-row govuk-!-margin-bottom-2">
        <div class="govuk-grid-column-two-thirds">
          <p class="govuk-heading-s govuk-!-margin-bottom-1 govuk-!-margin-top-0">{{ t('viewTheClaim:theClaimEyebrow') }}</p>
          <h1 class="govuk-heading-l govuk-!-margin-bottom-4">{{ t('viewTheClaim:pageTitle') }}</h1>
        </div>
        <div class="govuk-grid-column-one-third govuk-!-text-align-right">
          <a class="govuk-link govuk-!-display-inline-block govuk-!-margin-top-3" href="#view-the-claim-help">{{ t('viewTheClaim:contactUsForHelp') }}</a>
        </div>
      </div>

      {% if propertyAddressText %}
        <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-0">
          <span class="govuk-!-font-weight-bold">{{ t('viewTheClaim:propertyAddressLabel') }}</span> {{ propertyAddressText }}
        </p>
      {% endif %}

      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-top-0 govuk-!-margin-bottom-6">
        <span class="govuk-!-font-weight-bold">{{ t('viewTheClaim:caseNumberLabel') }}</span> {{ caseReference | caseReferenceDisplay }}
      </p>

      <p class="govuk-body govuk-!-margin-bottom-6">{{ introText }}</p>

      {% if pageMetadataRows.length > 0 %}
        {{ govukSummaryList({
          rows: pageMetadataRows,
          classes: 'govuk-!-margin-bottom-6'
        }) }}
      {% endif %}

      {{ claimPdfBlock(claimPdfSection) }}

      {% for section in sections %}
        {{ claimSummarySection(section) }}
      {% endfor %}

      {{ govukDetails({
        id: 'view-the-claim-help',
        summaryText: t('viewTheClaim:documentsHelpSummary'),
        text: t('viewTheClaim:documentsHelpText')
      }) }}

      {{ govukButton({
        text: t('viewTheClaim:closeAndReturn'),
        href: dashboardUrl
      }) }}
    </div>
  </div>
{% endblock %}
