{#
  A page staff reach from XUI (Manage Case): XUI's header and footer around the page, with no
  citizen service navigation.
#}
{% extends "template.njk" %}

{% from "xui-header/macro.njk" import hmctsXuiHeader %}
{% from "footer/macro.njk" import hmctsUiFooter %}

{% set containerClasses = "pcs-wide" %}

{% block pageTitle %}
  {% if errorSummary %}Error: {% endif %}{{ pageHeading }} - HM Courts &amp; Tribunals Service &ndash; GOV.UK
{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/assets/ui-component-lib/ui-component-lib.css">
{% endblock %}

{% block header %}
  {{ hmctsXuiHeader(headerModel) }}
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block footer %}
  {{ hmctsUiFooter(footerModel) }}
{% endblock %}
