{% extends "layouts/main.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "macros/csrf.njk" import csrfProtection %}

{% block pageTitle %}
  {{ t('pageTitle') }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% include "includes/caption.njk" %}

      <form method="post" novalidate>
        {{ csrfProtection(csrfToken) }}

        {% if fields %}
          {% for field in fields %}
            {% if field.componentType === 'radios' %}
              {{ govukRadios(field.component) }}
            {% elif field.componentType === 'character-count' %}
              {{ govukCharacterCount(field.component) }}
            {% endif %}
          {% endfor %}
        {% endif %}

        <div class="govuk-button-group">
          {{ govukButton({
            text: saveAndContinue,
            type: 'submit',
            name: 'saveAndContinue',
            value: 'true'
          }) }}

          {{ govukButton({
            text: saveForLater,
            type: 'submit',
            name: 'saveForLater',
            value: 'true',
            classes: 'govuk-button--secondary'
          }) }}
        </div>
      </form>
    </div>
  </div>
{% endblock %}
