{% extends "stepsTemplate.njk" %}
{% from "macros/stepButtons.njk" import stepButtons %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "macros/csrf.njk" import csrfProtection %}

{% block pageTitle %}{{ pageTitle }}{% endblock %}

{% block mainContent %}
  {% if caption %}
    <span class="govuk-caption-xl">{{ caption }}</span>
  {% endif %}

  <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

  <form method="post" action="{{ url }}" novalidate>

    {{ stepButtons(continue, saveForLater) }}
    {{ csrfProtection(csrfToken) }}
  </form>

{% endblock %}