{% extends "stepsTemplate.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block mainContent %}
  {% if errorSummary %}
    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">{{ errorSummary.titleText }}</h2>
      <div class="govuk-error-summary__body">
        <ul class="govuk-list govuk-error-summary__list">
          {% for error in errorSummary.errorList %}
            <li><a href="{{ error.href }}">{{ error.text }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}

  {% if pageTitle %}
    <h1 class="govuk-heading-l">{{ pageTitle }}</h1>
  {% elif title %}
    <h1 class="govuk-heading-l">{{ title }}</h1>
  {% endif %}

  {% if content %}
    <p class="govuk-body">{{ content | safe }}</p>
  {% endif %}

  <form method="post" action="{{ url }}">
    {% for field in fields %}
      {% if field.component and field.componentType %}
        {% if field.componentType == 'input' %}
          {{ govukInput(field.component) }}
        {% elif field.componentType == 'textarea' %}
          {{ govukTextarea(field.component) }}
        {% elif field.componentType == 'characterCount' %}
          {{ govukCharacterCount(field.component) }}
        {% elif field.componentType == 'radios' %}
          {{ govukRadios(field.component) }}
          {# Render subFields for radio options - GOV.UK handles conditional reveal automatically #}
          {# SubFields are rendered after the radios component, within conditional divs #}
          {% if field.options %}
            {% for option in field.options %}
              {% if option.subFields %}
                {% for subFieldName, subField in option.subFields %}
                  {% if subField.component and subField.componentType %}
                    {# GOV.UK conditional div - ID matches the pattern used by GOV.UK macros #}
                    <div class="govuk-radios__conditional govuk-radios__conditional--hidden" id="conditional-{{ field.name }}-{{ loop.index0 }}">
                      {% if subField.componentType == 'input' %}
                        {{ govukInput(subField.component) }}
                      {% elif subField.componentType == 'textarea' %}
                        {{ govukTextarea(subField.component) }}
                      {% elif subField.componentType == 'characterCount' %}
                        {{ govukCharacterCount(subField.component) }}
                      {% elif subField.componentType == 'radios' %}
                        {{ govukRadios(subField.component) }}
                      {% elif subField.componentType == 'checkboxes' %}
                        {{ govukCheckboxes(subField.component) }}
                      {% elif subField.componentType == 'dateInput' %}
                        {{ govukDateInput(subField.component) }}
                      {% endif %}
                    </div>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% elif field.componentType == 'checkboxes' %}
          {{ govukCheckboxes(field.component) }}
          {# Render subFields for checkbox options - GOV.UK handles conditional reveal automatically #}
          {% if field.options %}
            {% for option in field.options %}
              {% if option.subFields %}
                {% for subFieldName, subField in option.subFields %}
                  {% if subField.component and subField.componentType %}
                    {# GOV.UK conditional div - ID matches the pattern used by GOV.UK macros #}
                    <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-{{ field.name }}-{{ loop.index0 }}">
                      {% if subField.componentType == 'input' %}
                        {{ govukInput(subField.component) }}
                      {% elif subField.componentType == 'textarea' %}
                        {{ govukTextarea(subField.component) }}
                      {% elif subField.componentType == 'characterCount' %}
                        {{ govukCharacterCount(subField.component) }}
                      {% elif subField.componentType == 'radios' %}
                        {{ govukRadios(subField.component) }}
                      {% elif subField.componentType == 'checkboxes' %}
                        {{ govukCheckboxes(subField.component) }}
                      {% elif subField.componentType == 'dateInput' %}
                        {{ govukDateInput(subField.component) }}
                      {% endif %}
                    </div>
                  {% endif %}
                {% endfor %}
              {% endif %}
            {% endfor %}
          {% endif %}
        {% elif field.componentType == 'dateInput' %}
          {{ govukDateInput(field.component) }}
        {% endif %}
      {% endif %}
    {% endfor %}

        
    <div class="govuk-button-group">
      {{ govukButton({ 
        text: continue,
        attributes: { type: 'submit', name: 'action', value: 'continue' }
      }) }}
      {{ govukButton({ 
        text: saveForLater,
        classes: 'govuk-button--secondary',
        attributes: { type: 'submit', name: 'action', value: 'saveForLater' }
      }) }}
    </div>
    
    <p class="govuk-body">
      <a href="{{ dashboardUrl }}" class="govuk-link">{{ cancel }}</a>
    </p>
  </form>
{% endblock %}

