{% extends "stepsTemplate.njk" %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "macros/csrf.njk" import csrfProtection %}

{# GOV.UK pattern: [Browser title] - HM Courts & Tribunals Service – GOV.UK #}
{% block pageTitle %}{{ t('pageTitle') }} &ndash; HM Courts &amp; Tribunals Service &ndash; GOV.UK{% endblock %}

{% block mainContent %}
  {% if errorSummary %}
    {{ govukErrorSummary(errorSummary) }}
  {% endif %}

  <span class="govuk-caption-xl">{{ caption }}</span>
  <h1 class="govuk-heading-l">{{ heading }}</h1>

  {{ govukSummaryList(summaryData) }}

  <form method="post" action="{{ url }}" novalidate>
    <div class="govuk-button-group">
      {{ govukButton({
        text: buttons.submitApplication,
        attributes: { type: 'submit', name: 'action', value: 'submit' }
      }) }}
    </div>

    {{ csrfProtection(csrfToken) }}
  </form>
{% endblock %}

