{% extends "stepsTemplate.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block pageTitle %}{{ pageTitle }}{% endblock %}

{% block mainContent %}
  {% if caption %}
    <span class="govuk-caption-xl">{{ caption }}</span>
  {% endif %}

  <h1 class="govuk-heading-l">{{ t('pageTitle') }}</h1>

  {{ govukButton({
    text: t('buttonText'),
    href: dashboardUrl
  }) }}
{% endblock %}

