{% extends "stepsTemplate.njk" %}
{% from "macros/stepButtons.njk" import stepButtons %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% block mainContent %}
  {% if errorSummary %}
    {{ govukErrorSummary(errorSummary) }}
  {% endif %}
  <h1 class="govuk-heading-l">Licensed landlord (placeholder)</h1>
  <p class="govuk-body">This is a placeholder for Licensed landlord step.</p>
  <form method="post" action="{{ url }}">
    {{ stepButtons(continue, saveForLater) }}
  </form>
{% endblock %}
