{% extends "stepsTemplate.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% block mainContent %}
  {% if errorSummary %}
    {{ govukErrorSummary(errorSummary) }}
  {% endif %}
  <h1 class="govuk-heading-l">Contact Preferences (placeholder)</h1>
  <p class="govuk-body">This is a placeholder for contact preferences step.</p>
  <form method="post" action="{{ url }}">
    <div class="govuk-button-group">
      {{ govukButton({
        text: buttons.continue,
        attributes: { type: 'submit', name: 'action', value: 'continue' }
      }) }}
      {{ govukButton({
        text: buttons.saveForLater,
        classes: 'govuk-button--secondary',
        attributes: { type: 'submit', name: 'action', value: 'saveForLater' }
      }) }}
    </div>
  </form>
{% endblock %}
