{% extends "stepsTemplate.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% from "macros/csrf.njk" import csrfProtection %}

{# GOV.UK pattern: [Browser title] - HM Courts & Tribunals Service – GOV.UK #}
{% block pageTitle %}{{ pageTitle }} &ndash; HM Courts &amp; Tribunals Service &ndash; GOV.UK{% endblock %}

{% block mainContent %}
  {% if errorSummary %}
    {{ govukErrorSummary(errorSummary) }}
  {% endif %}

  <span class="govuk-caption-xl">{{ caption }}</span>
  <h1 class="govuk-heading-l">{{ heading }}</h1>

  {% if list|length %}
    <p class="govuk-body">{{ listHeading }}</p>
    <ul class="govuk-list govuk-list--bullet">
      {% for item in list %}
        <li>{{ item }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <p class="govuk-body">{{ includeApplicationDetails }}</p>

  <form method="post" action="{{ url }}" novalidate>

    {% for field in fields %}
      {%if field.componentType == 'characterCount' %}
          {{ govukCharacterCount(field.component) }}
        {% endif %}
    {% endfor %}

    <div class="govuk-button-group">
      {{ govukButton({
          text: t('buttons.continue', { ns: 'common' }),
          attributes: { type: 'submit', name: 'action', value: 'continue' }
      }) }}
      <p class="govuk-body">
        <a href="{{ dashboardUrl }}" class="govuk-link">{{ cancel }}</a>
      </p>
    </div>

    {{ csrfProtection(csrfToken) }}
  </form>
{% endblock %}
