{% extends "footer/layout.njk" %}

{% block pageTitle %}
  Accessibility Statement - HM Courts & Tribunals Service - GOV.UK
{% endblock %}

{% block mainContent %}
  <h1 class="govuk-heading-xl">Accessibility statement for MyHMCTS Manage Cases</h1>
  <p class="govuk-body">
      MyHMCTS Manage Cases is used across several services. Please use links to find contact information for each service.
  </p>
  <ul class="govuk-list govuk-list--bullet">
      <li><a href="accessibility#immigration">Immigration and Asylum</a></li>
      <li><a href="accessibility#family-public-law">Family Public Law </a></li>
      <li><a href="accessibility#adoption">adoption </a></li>
      <li><a href="accessibility#civil-damages">Civil Damages</a></li>
      <li><a href="accessibility#divorce">Divorce and financial remeduies </a></li>
      <li><a href="accessibility#civil-money-claims">Civil Money Claims </a></li>
      <li><a href="accessibility#private-law">Private Law </a></li>
      <li><a href="accessibility#probate">Probate </a></li>
      <li><a href="accessibility#social-security#">Social Security and Child Support </a></li>
  </ul>
  <p class="govuk-body">
      This website is run by HM Courts &amp; Tribunals Service. We want as many people as possible to be able to use this
      website. For example, you should be able to:
  </p>
  <ul class="govuk-list govuk-list--bullet">
      <li>change colours, contrast levels and fonts using browser or device settings</li>
      <li>navigate most of the website using a keyboard or speech recognition software</li>
      <li>
          listen to most of the website using a screen reader (including the most recent versions of JAWS, NVDA and
          VoiceOver)
      </li>
  </ul>
  <p class="govuk-body">We’ve also made the website text as simple as possible to understand.</p>
  <p class="govuk-body">
      <a rel="noopener noreferrer" target="_blank" href="https://mcmw.abilitynet.org.uk/">AbilityNet</a> has advice on
      making your device easier to use if you have a disability.
  </p>
  <h2 class="govuk-heading-l">How accessible this website is</h2>
  <p class="govuk-body">We know some parts of the website are not fully accessible:</p>
  <ul class="govuk-list govuk-list--bullet">
      <li>some pages can't be zoomed in to 400% without content overlapping</li>
      <li>some page titles aren't page specific</li>
      <li>it may be difficult to navigate between pages</li>
      <li>some headings and labels aren't specific enough</li>
      <li>some PDFs may not be fully accessible to a screen reader</li>
      <li>some buttons may not communicate collapsed status on mobile</li>
  </ul>
  <h2 class="govuk-heading-l">Feedback and contact information</h2>
  <p class="govuk-body">
      If you're a legal professional and need information on this website in a different format like accessible PDF, large
      print, easy read, audio recording or braille, you can:
  </p>
  <ul class="govuk-list govuk-list--bullet">
      <li>email: <a href="mailto:HMCTSforms@justice.gov.uk">HMCTSforms@justice.gov.uk</a></li>
      <li>call the service you require, as listed below.</li>
  </ul>
  <h3 id="adoption" class="govuk-heading-l">Adoption</h3>
  <ul class="govuk-list govuk-list--bullet">
      <li>call: 01634 887900</li>
  </ul>
  <h3 id="civil-damages" class="govuk-heading-l">Civil Damages Service</h3>
  <ul class="govuk-list govuk-list--bullet">
      <li>call: 0300 123 1372</li>
  </ul>
  <h3 id="divorce" class="govuk-heading-l">Divorce and Financial Remedy</h3>
  <ul class="govuk-list govuk-list--bullet">
      <li>call: 0300 303 0642</li>
  </ul>
  <h3 id="family-public-law" class="govuk-heading-l">Family Public Law</h3>
  <ul class="govuk-list govuk-list--bullet">
      <li>call: 0330 808 4424</li>
  </ul>
  <h3 id="immigration" class="govuk-heading-l">Immigration and Asylum Chamber</h3>
  <ul class="govuk-list govuk-list--bullet">
      <li>call: 0300 123 1711</li>
  </ul>
  <h3 id="civil-money-claims" class="govuk-heading-l">Online Civil Money Claims</h3>
  <ul class="govuk-list govuk-list--bullet">
      <li>call: 0300 123 7050</li>
  </ul>
  <h3 id="private-law" class="govuk-heading-l">Private Law</h3>
  <ul class="govuk-list govuk-list--bullet">
      <li>call: 0300 323 0185</li>
  </ul>
  <h3 id="probate" class="govuk-heading-l">Probate</h3>
  <ul class="govuk-list govuk-list--bullet">
      <li>call: 0300 303 0648</li>
  </ul>
  <h3 id="social-security" class="govuk-heading-l">Social Security and Child Support</h3>
  <ul class="govuk-list govuk-list--bullet">
      <li>call: 0300 123 1142</li>
  </ul>
  <p class="govuk-body">We'll consider your request and get back to you in 10 working days.</p>
  <p class="govuk-body">
      If you are member of HMCTS staff or the Judiciary speak to your line manager or equivalent in the first instance.
  </p>
  <!---->
  <h2 class="govuk-heading-l">Reporting accessibility problems with this website</h2>
  <p class="govuk-body">
      We're always looking to improve the accessibility of this website. If you're a legal professional and find any
      problems not listed on this page or think we’re not meeting accessibility requirements, contact:
  </p>
  <ul class="govuk-list govuk-list--bullet">
      <li>email: <a href="mailto:customer.service@justice.gov.uk">customer.service@justice.gov.uk</a></li>
      <li>call the service you require as listed above.</li>
  </ul>
  <p class="govuk-body">We'll consider your request and get back to you in 10 working days.</p>
  <p class="govuk-body">
      If you are member of HMCTS staff or the Judiciary speak to your line manager or equivalent in the first instance.
  </p>
  <h2 class="govuk-heading-l">Enforcement procedure</h2>
  <p class="govuk-body">
      The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and
      Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).
  </p>
  <p class="govuk-body">
      If you’re not happy with how we respond to your complaint,
      <a rel="noopener noreferrer" target="_blank" href="https://www.equalityadvisoryservice.com/"
          >contact the Equality Advisory and Support Service (EASS).</a
      >
  </p>
  <h2 class="govuk-heading-l">Technical information about this website’s accessibility</h2>
  <p class="govuk-body">
      HM Courts &amp; Tribunals Service is committed to making its website accessible, in accordance with the Public
      Sector Bodies (Websites and Mobile Applications) (No.2) Accessibility Regulations 2018.
  </p>
  <h2 class="govuk-heading-l">Compliance Status</h2>
  <p class="govuk-body">
      This website is partially compliant with the<a target="_blank" href="https://www.w3.org/TR/WCAG22/">
          Web Content Accessibility Guidelines version 2.2</a
      >
      to AA standard, due to the non-compliances listed below.
  </p>
  <h2 class="govuk-heading-l">Non-accessible content</h2>
  <p class="govuk-body">The content listed below is non-compliant for the following reasons.</p>
  <h2 class="govuk-heading-l">Non-accessible content</h2>
  <h3 class="govuk-heading-l">Non-compliance with the accessibility regulations</h3>
  <p class="govuk-body">The content listed below is non-compliant for the following reasons.</p>
  <p class="govuk-body">
      <span class="govuk-!-font-weight-bold"
          >There were navigation lists present that were not marked up correctly and so assistive technology may have
          difficulty reading the content.</span
      >This fails WCAG v2.2, 1.3.1 Info and Relationships (Level A) and 4.1.2 Name, Role, Value (Level A).
  </p>
  <p class="govuk-body">
      <span class="govuk-!-font-weight-bold"
          >For screen reader users, it will be difficult for the user to distinguish which form elements are related to
          each document as they don’t have a shared or common label.</span
      >This fails WCAG v2.2,&nbsp;1.3.1 Info and Relationships (Level A) and 3.3.2 Labels or Instructions (Level A).
  </p>
  <p class="govuk-body">
      <span class="govuk-!-font-weight-bold"
          >Links were found that did not have a distinct meaning which could mean that screen reader users may be unable
          to determine their purpose.</span
      >This fails WCAG v2.2, 2.4.4 Link Purpose (In Context) (Level A) and 2.4.9 Link Purpose (Link Only) (Level AAA).
  </p>
  <p class="govuk-body">
      <span class="govuk-!-font-weight-bold"
          >A string of text that visually named an element was not part of the programmatic accessible name. When using
          assistive technology, it may be problematic for the user to interact with the element using their voice.</span
      >This fails WCAG v2.2, 2.5.3 Label in Name (Level A).
  </p>
  <p class="govuk-body">
      <span class="govuk-!-font-weight-bold"
          >A submit button is not provided for a text input element so entering text into the input used to search
          documents causes the documents context to change automatically, which can be disruptive for assistive technology
          users.</span
      >This fails WCAG v2.2, 3.2.2 On Input (Level A).
  </p>
  <p class="govuk-body">
      <span class="govuk-!-font-weight-bold"
          >Visual headings were found, but they were not marked up with a semantic heading tag. Using Assistive
          technology, a screen reader user may not be aware that the text is a heading, which means they may struggle to
          navigate using headings and understand the correct hierarchy of the content.</span
      >This fails WCAG v2.2, 1.3.1 Info and Relationships (Level A).
  </p>
  <p class="govuk-body">
      <span class="govuk-!-font-weight-bold"
          >Active elements are nested which can cause random results from assistive technology. This means users might be
          unable to accurately interact with the content or they could be missing content.</span
      >This fails WCAG v2.2, 4.1.2 Name, Role, Value (Level A).
  </p>
  <p class="govuk-body">
      <span class="govuk-!-font-weight-bold"
          >The state of content that can be expanded or collapsed is not announced or not correctly announced to screen
          reader users, this means screen reading software will only announce a collapsed state.</span
      >This fails WCAG v2.2, 4.1.2 Name, Role, Value (Level A).
  </p>
  <p class="govuk-body">
      <span class="govuk-!-font-weight-bold"
          >Asterisks are used to denote a required field. The asterisk is not clearly communicated to enable a user to
          understand that it denotes a required field.</span
      >This fails WCAG v2.2, 1.3.1 Info and Relationships (Level A) and 3.3.2 Labels or Instructions (Level A).
  </p>
  <p class="govuk-body">
      <span class="govuk-!-font-weight-bold"
          >Some headings are contained within a description list which may cause some confusion to a screen reader
          user.</span
      >This fails WCAG v2.2, 1.3.1 Info and Relationships (Level A).
  </p>
  <p class="govuk-body">
      <span class="govuk-!-font-weight-bold"
          >When a user chooses an option from a search field, the chosen option will be added to the service webpage.
          Users can remove the options by activating an interactive element. When using assistive technology the user may
          not know that the new interactive element is used to remove the added option as it does not have a descriptive
          alternative.</span
      >This fails WCAG v2.2 1.3.1 Info and Relationships (Level A).
  </p>
  <p class="govuk-body">
      <span class="govuk-!-font-weight-bold"
          >Typing into the text input causes a list box to appear and show options that the user can choose from. If the
          user is using keyboard inputs to navigate the service webpage, the user will have difficulties selecting an
          option.</span
      >This fails WCAG v2.2, 2.1.1 Keyboard (Level A) and 2.1.3 Keyboard (No Exception) (Level AAA).
  </p>
  <p class="govuk-body">
      <span class="govuk-!-font-weight-bold"
          >Using mouse inputs to activate the tab elements will cause the service webpage contents to change. It is not
          possible for a keyboard-only user to navigate or activate the tabs.</span
      >This fails WCAG v2.2, 1.3.1 Info and Relationships (Level A), 2.1.1 Keyboard (Level A), 4.1.2 Name, Role, Value
      Level (A) and 2.1.3 Keyboard (No Exception) (Level AAA).
  </p>
  <p class="govuk-body">
      <span class="govuk-!-font-weight-bold"
          >Headings on the page were found to not follow a hierarchical heading structure which means assistive technology
          may struggle to communicate a logical heading order to the user.</span
      >This fails WCAG v2.2, 1.3.1 Info and Relationships (Level A).
  </p>
  <p class="govuk-body">
      <span class="govuk-!-font-weight-bold"
          >Some images were decorative but the descriptions were not accurate for assistive technology users.</span
      >This fails WCAG v2.2 1.1.1 Non-text Content (Level A).
  </p>
  <p class="govuk-body">
      <span class="govuk-!-font-weight-bold"
          >Elements are present that do not contain a descriptive name or label for users. Assistive technology users may
          not be able to accurately identify their differences.</span
      >This fails WCAG v2.2, 2.4.6 Headings and Labels (Level AA).
  </p>
  <p class="govuk-body">
      <span class="govuk-!-font-weight-bold"
          >Assistive technology does not announce the important messages shown if there are no results and this means that
          a screen reader user might not know that there are no results available.</span
      >This fails WCAG v2.2, 4.1.3 Status Messages (Level AA).
  </p>
  <p class="govuk-body">
      <span class="govuk-!-font-weight-bold"
          >Some of the colour combinations found on the website are low contrast and are likely to be difficult for people
          with low vision to distinguish.</span
      >This fails WCAG v2.2, 1.4.11 Non-text Contrast (Level AA).
  </p>
  <p class="govuk-body">
      <span class="govuk-!-font-weight-bold"
          >Content is lost or obscured on the page when the browser dimensions are set to 1280 x 1024 and magnified to
          400. The user will need to modify their settings and this could make it difficult to read the service
          webpage.</span
      >This fails WCAG v2.2, 1.4.10 Reflow (Level AA).
  </p>
  <p class="govuk-body">
      <span class="govuk-!-font-weight-bold"
          >Text on the website cannot be resized to 200% without loss of content/ functionality.</span
      >This fails WCAG v2.2, 1.4.4 Resize text (Level AA).
  </p>
  <p class="govuk-body">
      <span class="govuk-!-font-weight-bold"
          >Some of the text colour combinations found on the site do not meet contrast guidelines. The change in colour
          may make it difficult for the user to read the text as the contrast is less than the minimum required.</span
      >This fails WCAG v2.2, 1.4.3 Contrast (Minimum) (Level AA) and 1.4.6 Contrast (Enhanced) (Level AAA).
  </p>
  <p class="govuk-body">
      <span class="govuk-!-font-weight-bold"
          >Modifying the text spacing to make the text easier to read will cause the ‘Zoom in’ button to be obscured. The
          user will need to change their settings and this could make the text difficult to read.</span
      >This fails WCAG v2.2, 1.4.12 Text Spacing (Level AA).
  </p>
  <p class="govuk-body">
      <span class="govuk-!-font-weight-bold"
          >Abbreviations are not expanded in the first instance or explained and may be difficult for users with cognitive
          impairments to understand.</span
      >This fails WCAG v2.2 3.1.4 Abbreviations (Level AAA).
  </p>
  <p class="govuk-body">
      <span class="govuk-!-font-weight-bold"
          >There are elements which open in a new window without informing the users first. If the user is not aware a new
          window/ tab will open, the user may be disoriented and have difficulties returning to the previous page.</span
      >This fails WCAG v2.2 3.2.5 Change on Request (Level AAA).
  </p>
  <p class="govuk-body">
      <span class="govuk-!-font-weight-bold"
          >Some links were not descriptive enough for Assistive technology to convey the context to the user.</span
      >This fails WCAG v2.2 2.4.9 Link Purpose (Link Only) (Level AAA).
  </p>
  <p class="govuk-body">
      <span class="govuk-!-font-weight-bold"
          >Text colour combinations found on the service do not meet enhanced contrasts and are likely to be difficult for
          people with vision colour deficiencies to read.</span
      >This fails WCAG v2.2, 1.4.6 Contrast (Enhanced) (Level AAA).
  </p>
  <h3 class="govuk-heading-m">Disproportionate burden on accessibility regulations</h3>
  <p class="govuk-body">There are areas which have been classified as disproportionate burden.</p>
  <ul class="govuk-list govuk-list--bullet">
      <li>
          We have identified some issues which we believe to constitute a disproportionate burden. One issue is around
          mobile view support and another is around having multiple ways to navigate the service. Both issues stem from
          business decisions taken at the very beginning of the development process for Expert UI, a tool for professional
          users. We know from Google Analytics stats that there are very low numbers of users attempting to use Manage
          Case from mobile phones. To resolve both issues would take a substantial UI design effort to build a new UI
          concept, a large technical design effort to create and a vast development effort to implement and test the
          solution, and for these reasons we think disproportionate burden is relevant.
      </li>
  </ul>
  <p class="govuk-body">A further review will take place in 12 months to review the current position</p>
  <!---->
  <h3 class="govuk-heading-m">Content that’s not within the scope of the accessibility regulations</h3>
  <p class="govuk-body">PDFs and other documents</p>
  <p class="govuk-body">
      The accessibility regulations do not require us to fix PDFs or other documents published before 23 September 2018 if
      they’re not essential to providing our services.
  </p>
  <p class="govuk-body">Any new PDFs or Word documents we publish will meet accessibility standards.</p>
  <h2 class="govuk-heading-l">What we’re doing to improve accessibility</h2>
  <p class="govuk-body">
      We’re committed to ensuring our services are accessible to all our users and that they comply with level AA of the
      Web Content Accessibility Guidelines – WCAG 2.2.
  </p>
  <p class="govuk-body">
      We’re currently working through the issues from an external audit carried out by the Digital Accessibility Centre
      (DAC) which we expect to fix by Jan 2026.
  </p>
  <h2 class="govuk-heading-l">Preparation of this accessibility statement</h2>
  <p class="govuk-body">This statement was prepared on 16 September 2019. It was last reviewed on 26 March 2025.</p>
  <p class="govuk-body">
      This website was tested by
      <a rel="noopener noreferrer" target="_blank" href="https://digitalaccessibilitycentre.org/"
          >Digital Accessibility Centre (DAC)</a
      >
      in 19 February 2024
  </p>
{% endblock %}