{% extends "footer/layout.njk" %}

{% block pageTitle %}
  Cookie Policy - HM Courts &amp; Tribunals Service - GOV.UK
{% endblock %}

{% block mainContent %}
  <h1 id="cookies" class="govuk-heading-xl">Cookies</h1>
  <p class="govuk-body">
      A cookie is a small piece of data that’s stored on your computer, tablet, or phone when you visit a website. Most
      websites need cookies to work properly.
  </p>
  <p>This service uses them to:</p>
  <ul class="govuk-list govuk-list--bullet">
      <li>measure how you use the service so it can be improved</li>
      <li>remember the notifications you’ve seen so that you’re not shown them again</li>
      <li>temporarily store the answers you give</li>
  </ul>
  <p class="govuk-body">
      Find out more about <a target="_blank" href="http://www.aboutcookies.org/">how to manage cookies</a>.
  </p>
  <h2 id="how-cookies-are-used-in-this-service" class="govuk-heading-l">How cookies are used in this service</h2>
  <p class="govuk-body">We use third party services to perform visitor analytics</p>
  <table class="govuk-table">
      <thead class="govuk-table__head">
          <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Name</th>
              <th scope="col" class="govuk-table__header">Purpose</th>
              <th scope="col" class="govuk-table__header">Expires</th>
          </tr>
      </thead>
      <tbody>
         <tr scope="col" class="govuk-table__row">
              <td class="govuk-table__cell">lang</td>
              <td class="govuk-table__cell">Remembers user UI language preference.</td>
              <td class="govuk-table__cell">1 year</td>
          </tr>
          <tr scope="col" class="govuk-table__row">
              <td class="govuk-table__cell">pcs_session</td>
              <td class="govuk-table__cell">User session token.</td>
              <td class="govuk-table__cell">Session ends</td>
          </tr>
          <tr scope="col" class="govuk-table__row">
              <td class="govuk-table__cell">dtCookie</td>
              <td class="govuk-table__cell">Tracks a visit across multiple requests.</td>
              <td class="govuk-table__cell">Session ends</td>
          </tr>
          <tr scope="col" class="govuk-table__row">
              <td class="govuk-table__cell">dtLatC</td>
              <td class="govuk-table__cell">Measures server latency for performance monitoring.</td>
              <td class="govuk-table__cell">Session ends</td>
          </tr>
          <tr scope="col" class="govuk-table__row">
              <td class="govuk-table__cell">dtPC</td>
              <td class="govuk-table__cell">
                  Required to identify proper endpoints for beacon transmission; includes session ID for correlation.
              </td>
              <td class="govuk-table__cell">Session ends</td>
          </tr>
          <tr scope="col" class="govuk-table__row">
              <td class="govuk-table__cell">dtSa</td>
              <td class="govuk-table__cell">Intermediate store for page-spanning actions</td>
              <td class="govuk-table__cell">Session ends</td>
          </tr>
          <tr scope="col" class="govuk-table__row">
              <td class="govuk-table__cell">rxvt</td>
              <td class="govuk-table__cell">Session timeout</td>
              <td class="govuk-table__cell">Session ends</td>
          </tr>
          <tr scope="col" class="govuk-table__row">
              <td class="govuk-table__cell">rxVisitor</td>
              <td class="govuk-table__cell">Generated user ID for usage tracking (Dynatrace)</td>
              <td class="govuk-table__cell">1 year</td>
          </tr>
      </tbody>
  </table>
{% endblock %}