{% extends "footer/layout.njk" %}

{% block pageTitle %}
  {{ t('footer/privacy-policy:pageTitle') }}
{% endblock %}

{% block mainContent %}
  <h1 class="govuk-heading-xl">{{ t('footer/privacy-policy:privacyPolicy.title') }}</h1>
  <div id="tabs" class="ui-tabs ui-corner-all ui-widget ui-widget-content">
      <div id="nav-links">
          <ul class="govuk-list govuk-list--bullets">
              <li>{{ t('footer/privacy-policy:privacyPolicy.list.item1') | safe }}</li>
              <li>{{ t('footer/privacy-policy:privacyPolicy.list.item2') | safe }}</li>
              <li>{{ t('footer/privacy-policy:privacyPolicy.list.item3') | safe }}</li>
              <li>{{ t('footer/privacy-policy:privacyPolicy.list.item4') | safe }}</li>
              <li>{{ t('footer/privacy-policy:privacyPolicy.list.item5') | safe }}</li>
              <li>{{ t('footer/privacy-policy:privacyPolicy.list.item6') | safe }}</li>
              <li>{{ t('footer/privacy-policy:privacyPolicy.list.item7') | safe }}</li>
              <li>{{ t('footer/privacy-policy:privacyPolicy.list.item8') | safe }}</li>
          </ul>
          <hr />
          <div id="tabs-1">
              <h2 id="overview" class="govuk-heading-l">{{ t('footer/privacy-policy:overview.title') }}</h2>
              <p class="govuk-body">{{ t('footer/privacy-policy:overview.description1') | safe }}</p>
              <h2 class="govuk-heading-m">{{ t('footer/privacy-policy:whoManagesThisService.title') }}</h2>
              <p class="govuk-body">{{ t('footer/privacy-policy:whoManagesThisService.description1') }}</p>
              <p class="govuk-body">{{ t('footer/privacy-policy:whoManagesThisService.description2') | safe }}</p>
              <p class="govuk-body">{{ t('footer/privacy-policy:whoManagesThisService.description3') }}</p>
              <h2 class="govuk-heading-m">{{ t('footer/privacy-policy:whyWeCollectYourPersonalData.title') }}</h2>
              <p class="govuk-body">{{ t('footer/privacy-policy:whyWeCollectYourPersonalData.description1') }}</p>
              <ul class="govuk-list govuk-list--bullet">
                  <li>{{ t('footer/privacy-policy:whyWeCollectYourPersonalData.list.item1') }}</li>
                  <li>{{ t('footer/privacy-policy:whyWeCollectYourPersonalData.list.item2') }}</li>
                  <li>{{ t('footer/privacy-policy:whyWeCollectYourPersonalData.list.item3') }}</li>
              </ul>
              <p class="govuk-body">{{ t('footer/privacy-policy:whyWeCollectYourPersonalData.description2') }}</p>
              <h2 class="govuk-heading-m">{{ t('footer/privacy-policy:typesOfPersonalDataWeCollect.title') }}</h2>
              <p class="govuk-body">{{ t('footer/privacy-policy:typesOfPersonalDataWeCollect.description1') }}</p>
              <ul class="govuk-list govuk-list--bullet">
                  <li>{{ t('footer/privacy-policy:typesOfPersonalDataWeCollect.list.item1') }}</li>
                  <li>{{ t('footer/privacy-policy:typesOfPersonalDataWeCollect.list.item2') }}</li>
                  <li>{{ t('footer/privacy-policy:typesOfPersonalDataWeCollect.list.item3') }}</li>
              </ul>
              <p class="govuk-body">{{ t('footer/privacy-policy:typesOfPersonalDataWeCollect.description2') | safe }}</p>
              <h2 class="govuk-heading-m">{{ t('footer/privacy-policy:usingYourData.title') }}</h2>
              <p class="govuk-body">{{ t('footer/privacy-policy:usingYourData.description1') }}</p>
              <p class="govuk-body">{{ t('footer/privacy-policy:usingYourData.description2') }}</p>
              <p class="govuk-body">{{ t('footer/privacy-policy:usingYourData.description3') }}</p>
              <ul class="govuk-list govuk-list--bullet">
                  <li>{{ t('footer/privacy-policy:usingYourData.list.item1') }}</li>
                  <li>{{ t('footer/privacy-policy:usingYourData.list.item2') }}</li>
                  <li>{{ t('footer/privacy-policy:usingYourData.list.item3') }}</li>
                  <li>{{ t('footer/privacy-policy:usingYourData.list.item4') }}</li>
                  <li>{{ t('footer/privacy-policy:usingYourData.list.item5') }}</li>
                  <li>{{ t('footer/privacy-policy:usingYourData.list.item6') }}</li>
                  <li>{{ t('footer/privacy-policy:usingYourData.list.item7') }}</li>
                  <li>{{ t('footer/privacy-policy:usingYourData.list.item8') }}</li>
                  <li>{{ t('footer/privacy-policy:usingYourData.list.item9') }}</li>
                  <li>{{ t('footer/privacy-policy:usingYourData.list.item10') }}</li>
              </ul>
              <h2 class="govuk-heading-m">{{ t('footer/privacy-policy:storingYourData.title') }}</h2>
              <p class="govuk-body">{{ t('footer/privacy-policy:storingYourData.description1') }}</p>
              <p class="govuk-body">{{ t('footer/privacy-policy:storingYourData.description2') }}</p>
              <p class="govuk-body">{{ t('footer/privacy-policy:storingYourData.description3') | safe }}</p>
              <h2 class="govuk-heading-m">{{ t('footer/privacy-policy:sharingYourData.title') }}</h2>
              <p class="govuk-body">{{ t('footer/privacy-policy:sharingYourData.description1') }}</p>
              <p class="govuk-body">{{ t('footer/privacy-policy:sharingYourData.description2') }}</p>
              <p class="govuk-body">{{ t('footer/privacy-policy:sharingYourData.description3') }}</p>
              <p class="govuk-body">{{ t('footer/privacy-policy:sharingYourData.description4') | safe }}</p>
              <h2 class="govuk-heading-m">{{ t('footer/privacy-policy:storingAndSharingYourDataInternationally.title') }}</h2>
              <p class="govuk-body">{{ t('footer/privacy-policy:storingAndSharingYourDataInternationally.description1') }}</p>
              <h2 class="govuk-heading-m">{{ t('footer/privacy-policy:yourRights.title') }}</h2>
              <p class="govuk-body">{{ t('footer/privacy-policy:yourRights.description1') }}</p>
              <ul class="govuk-list govuk-list--bullet">
                  <li>{{ t('footer/privacy-policy:yourRights.list1.item1') }}</li>
                  <li>{{ t('footer/privacy-policy:yourRights.list1.item2') }}</li>
                  <li>{{ t('footer/privacy-policy:yourRights.list1.item3') }}</li>
                  <li>{{ t('footer/privacy-policy:yourRights.list1.item4') }}</li>
                  <li>{{ t('footer/privacy-policy:yourRights.list1.item5') }}</li>
              </ul>
              <p class="govuk-body">{{ t('footer/privacy-policy:yourRights.description2') }}</p>
              <ul class="govuk-list govuk-list--bullet">
                  <li>{{ t('footer/privacy-policy:yourRights.list2.item1') | safe }}</li>
                  <li>{{ t('footer/privacy-policy:yourRights.list2.item2') }}</li>
              </ul>
              <p class="govuk-body">{{ t('footer/privacy-policy:yourRights.description3') }}</p>
              <ul class="govuk-list govuk-list--bullet">
                  <li>{{ t('footer/privacy-policy:yourRights.list3.item1') }}</li>
                  <li>{{ t('footer/privacy-policy:yourRights.list3.item2') }}</li>
                  <li>{{ t('footer/privacy-policy:yourRights.list3.item3') }}</li>
                  <li>{{ t('footer/privacy-policy:yourRights.list3.item4') }}</li>
              </ul>
              <p class="govuk-body">{{ t('footer/privacy-policy:yourRights.description4') }}</p>
              <ul class="govuk-list govuk-list--bullet">
                  <li>{{ t('footer/privacy-policy:yourRights.list4.item1') }}</li>
                  <li>{{ t('footer/privacy-policy:yourRights.list4.item2') | safe }}</li>
              </ul>
              <h2 class="govuk-heading-m">{{ t('footer/privacy-policy:howToComplain.title') }}</h2>
              <p class="govuk-body">{{ t('footer/privacy-policy:howToComplain.description1') | safe }}</p>
              <p class="govuk-body">{{ t('footer/privacy-policy:howToComplain.description2') }}</p>
              <p class="govuk-body">{{ t('footer/privacy-policy:howToComplain.description3') | safe }}</p>
              <p class="govuk-body">{{ t('footer/privacy-policy:howToComplain.description4') | safe }}</p>
              <h2 id="otherservices" class="govuk-heading-m">{{ t('footer/privacy-policy:theServiceYouAreUsing.title') }}</h2>
              <p class="govuk-body">{{ t('footer/privacy-policy:theServiceYouAreUsing.description1') }}</p>
              <ul class="govuk-list govuk-list--bullet">
                  <li>{{ t('footer/privacy-policy:theServiceYouAreUsing.list.item1') | safe }}</li>
                  <li>{{ t('footer/privacy-policy:theServiceYouAreUsing.list.item2') | safe }}</li>
                  <li>{{ t('footer/privacy-policy:theServiceYouAreUsing.list.item3') | safe }}</li>
                  <li>{{ t('footer/privacy-policy:theServiceYouAreUsing.list.item4') | safe }}</li>
                  <li>{{ t('footer/privacy-policy:theServiceYouAreUsing.list.item5') | safe }}</li>
                  <li>{{ t('footer/privacy-policy:theServiceYouAreUsing.list.item6') | safe }}</li>
              </ul>
          </div>
          <div id="tabs-3">
              <h2 id="divorce" class="govuk-heading-l">{{ t('footer/privacy-policy:usingTheApplyForADivorceService.title') }}</h2>
              <h2 class="govuk-heading-m">{{ t('footer/privacy-policy:thePersonalDataWeNeed.title') }}</h2>
              <p class="govuk-body">{{ t('footer/privacy-policy:thePersonalDataWeNeed.description1') }}</p>
              <ul class="govuk-list govuk-list--bullet">
                  <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed.list.item1') }}</li>
                  <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed.list.item2') }}</li>
                  <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed.list.item3') }}</li>
                  <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed.list.item4') }}</li>
                  <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed.list.item5') }}</li>
                  <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed.list.item6') }}</li>
                  <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed.list.item7') }}</li>
                  <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed.list.item8') }}</li>
                  <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed.list.item9') }}</li>
                  <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed.list.item10') }}</li>
                  <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed.list.item11') }}</li>
                  <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed.list.item12') }}</li>
                  <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed.list.item13') }}</li>
                  <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed.list.item14') }}</li>
                  <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed.list.item15') }}</li>
                  <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed.list.item16') }}</li>
              </ul>
              <h2 class="govuk-heading-m">{{ t('footer/privacy-policy:receivingNotifications.title') }}</h2>
              <p class="govuk-body">{{ t('footer/privacy-policy:receivingNotifications.description1') }}</p>
              <h2 class="govuk-heading-m">{{ t('footer/privacy-policy:storingYourData2.title') }}</h2>
              <p class="govuk-body">{{ t('footer/privacy-policy:storingYourData2.description1') }}</p>
              <p class="govuk-body">{{ t('footer/privacy-policy:storingYourData2.description2') }}</p>
              <p class="govuk-body">{{ t('footer/privacy-policy:storingYourData2.description3') }}</p>
              <p class="govuk-body">{{ t('footer/privacy-policy:storingYourData2.description4') }}</p>
              <h2 class="govuk-heading-m">{{ t('footer/privacy-policy:sharingYourData2.title') }}</h2>
              <p class="govuk-body">{{ t('footer/privacy-policy:sharingYourData2.description1') }}</p>
              <p class="govuk-body">{{ t('footer/privacy-policy:sharingYourData2.description2') }}</p>
              <p class="govuk-body">{{ t('footer/privacy-policy:sharingYourData2.description3') }}</p>
              <p class="govuk-body">{{ t('footer/privacy-policy:sharingYourData2.description4') }}</p>
              <p class="govuk-body">{{ t('footer/privacy-policy:sharingYourData2.description5') }}</p>
          </div>
          <div id="tabs-2">
              <h2 class="govuk-heading-l">{{ t('footer/privacy-policy:usingTheMoneyClaimsService.title') }}</h2>
              <h2 class="govuk-heading-m">{{ t('footer/privacy-policy:thePersonalDataWeNeed2.title') }}</h2>
              <p class="govuk-body">{{ t('footer/privacy-policy:thePersonalDataWeNeed2.description1') }}</p>
              <ul class="govuk-list govuk-list--bullet">
                  <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed2.list1.item1') }}</li>
                  <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed2.list1.item2') }}</li>
                  <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed2.list1.item3') }}</li>
                  <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed2.list1.item4') }}</li>
                  <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed2.list1.item5') }}</li>
                  <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed2.list1.item6') }}</li>
                  <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed2.list1.item7') }}</li>
                  <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed2.list1.item8') }}</li>
                  <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed2.list1.item9') }}</li>
                  <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed2.list1.item10') }}</li>
                  <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed2.list1.item11') }}</li>
              </ul>
              <p class="govuk-body">{{ t('footer/privacy-policy:thePersonalDataWeNeed2.description2') }}</p>
              <p class="govuk-body">{{ t('footer/privacy-policy:thePersonalDataWeNeed2.description3') }}</p>
              <ul class="govuk-list govuk-list--bullet">
                  <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed2.list2.item1') }}</li>
                  <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed2.list2.item2') }}</li>
                  <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed2.list2.item3') }}</li>
                  <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed2.list2.item4') }}</li>
                  <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed2.list2.item5') }}</li>
              </ul>
          </div>
          <h2 class="govuk-heading-m">{{ t('footer/privacy-policy:storingYourData3.title') }}</h2>
          <p class="govuk-body">{{ t('footer/privacy-policy:storingYourData3.description1') }}</p>
          <h2 class="govuk-heading-s">{{ t('footer/privacy-policy:beforeYouSubmitYourInformation.title') }}</h2>
          <p class="govuk-body">{{ t('footer/privacy-policy:beforeYouSubmitYourInformation.description1') }}</p>
          <h2 class="govuk-heading-s">{{ t('footer/privacy-policy:afterYouSubmitYourInformation.title') }}</h2>
          <p class="govuk-body">{{ t('footer/privacy-policy:afterYouSubmitYourInformation.description1') }}</p>
          <p class="govuk-body">{{ t('footer/privacy-policy:afterYouSubmitYourInformation.description2') }}</p>
          <h2 class="govuk-heading-m">{{ t('footer/privacy-policy:sharingYourData3.title') }}</h2>
          <p class="govuk-body">{{ t('footer/privacy-policy:sharingYourData3.description1') }}</p>
          <p class="govuk-body">{{ t('footer/privacy-policy:sharingYourData3.description2') }}</p>
          <p class="govuk-body">{{ t('footer/privacy-policy:sharingYourData3.description3') }}</p>
      </div>
      <div id="tabs-4">
          <h2 id="probate" class="govuk-heading-l">{{ t('footer/privacy-policy:usingTheAppealABenefitDecisionService.title') }}</h2>
          <h2 class="govuk-heading-m">{{ t('footer/privacy-policy:thePersonalDataWeNeed3.title') }}</h2>
          <p class="govuk-body">{{ t('footer/privacy-policy:thePersonalDataWeNeed3.description1') }}</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed3.list1.item1') }}</li>
              <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed3.list1.item2') }}</li>
              <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed3.list1.item3') }}</li>
              <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed3.list1.item4') }}</li>
              <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed3.list1.item5') }}</li>
              <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed3.list1.item6') }}</li>
              <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed3.list1.item7') }}</li>
          </ul>
          <p class="govuk-body">{{ t('footer/privacy-policy:thePersonalDataWeNeed3.description2') }}</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed3.list2.item1') }}</li>
              <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed3.list2.item2') }}</li>
          </ul>
          <p class="govuk-body">{{ t('footer/privacy-policy:thePersonalDataWeNeed3.description3') }}</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed3.list3.item1') }}</li>
              <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed3.list3.item2') }}</li>
          </ul>
          <h2 class="govuk-heading-m">{{ t('footer/privacy-policy:receivingNotifications2.title') }}</h2>
          <p class="govuk-body">{{ t('footer/privacy-policy:receivingNotifications2.description1') }}</p>
          <p class="govuk-body">{{ t('footer/privacy-policy:receivingNotifications2.description2') }}</p>
          <p class="govuk-body">{{ t('footer/privacy-policy:receivingNotifications2.description3') | safe }}</p>
          <h2 class="govuk-heading-m">{{ t('footer/privacy-policy:storingAndSharingYourData.title') }}</h2>
          <p class="govuk-body">{{ t('footer/privacy-policy:storingAndSharingYourData.description1') }}</p>
          <p class="govuk-body">{{ t('footer/privacy-policy:storingAndSharingYourData.description2') }}</p>
      </div>
      <div id="tabs-5">
          <h2 class="govuk-heading-l">{{ t('footer/privacy-policy:usingTheApplyForProbateService.title') }}</h2>
          <h2 class="govuk-heading-m">{{ t('footer/privacy-policy:thePersonalDataWeCollect.title') }}</h2>
          <p class="govuk-body">{{ t('footer/privacy-policy:thePersonalDataWeCollect.description1') }}</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>{{ t('footer/privacy-policy:thePersonalDataWeCollect.list.item1') }}</li>
              <li>{{ t('footer/privacy-policy:thePersonalDataWeCollect.list.item2') }}</li>
              <li>{{ t('footer/privacy-policy:thePersonalDataWeCollect.list.item3') }}</li>
              <li>{{ t('footer/privacy-policy:thePersonalDataWeCollect.list.item4') }}</li>
              <li>{{ t('footer/privacy-policy:thePersonalDataWeCollect.list.item5') }}</li>
              <li>{{ t('footer/privacy-policy:thePersonalDataWeCollect.list.item6') }}</li>
          </ul>
          <h2 class="govuk-heading-m">{{ t('footer/privacy-policy:storingYourData4.title') }}</h2>
          <p class="govuk-body">{{ t('footer/privacy-policy:storingYourData4.description1') }}</p>
          <p class="govuk-body">{{ t('footer/privacy-policy:storingYourData4.description2') }}</p>
          <p class="govuk-body">{{ t('footer/privacy-policy:storingYourData4.description3') | safe }}</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>{{ t('footer/privacy-policy:storingYourData4.list.item1') }}</li>
              <li>{{ t('footer/privacy-policy:storingYourData4.list.item2') }}</li>
              <li>{{ t('footer/privacy-policy:storingYourData4.list.item3') }}</li>
              <li>{{ t('footer/privacy-policy:storingYourData4.list.item4') }}</li>
          </ul>
          <h2 class="govuk-heading-m">{{ t('footer/privacy-policy:storingYourData5.title') }}</h2>
          <p class="govuk-body">{{ t('footer/privacy-policy:storingYourData5.description1') }}</p>
          <h2 class="govuk-heading-s">{{ t('footer/privacy-policy:beforeYouSubmitYourInformation2.title') }}</h2>
          <p class="govuk-body">{{ t('footer/privacy-policy:beforeYouSubmitYourInformation2.description1') }}</p>
          <h2 class="govuk-heading-s">{{ t('footer/privacy-policy:afterYouSubmitYourInformation2.title') }}</h2>
          <p class="govuk-body">{{ t('footer/privacy-policy:afterYouSubmitYourInformation2.description1') }}</p>
          <h2 class="govuk-heading-m">{{ t('footer/privacy-policy:sharingYourData4.title') }}</h2>
          <p class="govuk-body">{{ t('footer/privacy-policy:sharingYourData4.description1') }}</p>
          <p class="govuk-body">{{ t('footer/privacy-policy:sharingYourData4.description2') | safe }}</p>
          <p class="govuk-body">{{ t('footer/privacy-policy:sharingYourData4.description3') }}</p>
          <p class="govuk-body">{{ t('footer/privacy-policy:sharingYourData4.description4') | safe }}</p>
          <p class="govuk-body">{{ t('footer/privacy-policy:sharingYourData4.description5') }}</p>
          <p class="govuk-body">{{ t('footer/privacy-policy:sharingYourData4.description6') }}</p>
      </div>
      <div id="tabs-6">
          <h2 class="govuk-heading-l">{{ t('footer/privacy-policy:usingTheFamilyPublicLawService.title') }}</h2>
          <h2 class="govuk-heading-m">{{ t('footer/privacy-policy:whatIsThePersonalDataThatWe.title') }}</h2>
          <p class="govuk-body">{{ t('footer/privacy-policy:whatIsThePersonalDataThatWe.description1') }}</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>{{ t('footer/privacy-policy:whatIsThePersonalDataThatWe.list1.item1') }}</li>
              <li>{{ t('footer/privacy-policy:whatIsThePersonalDataThatWe.list1.item2') }}</li>
              <li>{{ t('footer/privacy-policy:whatIsThePersonalDataThatWe.list1.item3') }}</li>
              <li>{{ t('footer/privacy-policy:whatIsThePersonalDataThatWe.list1.item4') }}</li>
              <li>{{ t('footer/privacy-policy:whatIsThePersonalDataThatWe.list1.item5') }}</li>
              <li>{{ t('footer/privacy-policy:whatIsThePersonalDataThatWe.list1.item6') }}</li>
              <li>{{ t('footer/privacy-policy:whatIsThePersonalDataThatWe.list1.item7') }}</li>
              <li>{{ t('footer/privacy-policy:whatIsThePersonalDataThatWe.list1.item8') }}</li>
              <li>{{ t('footer/privacy-policy:whatIsThePersonalDataThatWe.list1.item9') }}</li>
          </ul>
          <p class="govuk-body">{{ t('footer/privacy-policy:whatIsThePersonalDataThatWe.description2') }}</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>{{ t('footer/privacy-policy:whatIsThePersonalDataThatWe.list2.item1') }}</li>
              <li>{{ t('footer/privacy-policy:whatIsThePersonalDataThatWe.list2.item2') | safe }}</li>
          </ul>
          <h2 class="govuk-heading-m">{{ t('footer/privacy-policy:whatWeDoWithYourData.title') }}</h2>
          <p class="govuk-body">{{ t('footer/privacy-policy:whatWeDoWithYourData.description1') }}</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>{{ t('footer/privacy-policy:whatWeDoWithYourData.list.item1') }}</li>
              <li>{{ t('footer/privacy-policy:whatWeDoWithYourData.list.item2') }}</li>
              <li>{{ t('footer/privacy-policy:whatWeDoWithYourData.list.item3') }}</li>
          </ul>
          <p class="govuk-body">{{ t('footer/privacy-policy:whatWeDoWithYourData.description2') }}</p>
          <p class="govuk-body">{{ t('footer/privacy-policy:whatWeDoWithYourData.description3') }}</p>
          <p class="govuk-body">{{ t('footer/privacy-policy:whatWeDoWithYourData.description4') }}</p>
          <h2 class="govuk-heading-m">{{ t('footer/privacy-policy:yourRights2.title') }}</h2>
          <p class="govuk-body">{{ t('footer/privacy-policy:yourRights2.description1') }}</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>{{ t('footer/privacy-policy:yourRights2.list.item1') }}</li>
              <li>{{ t('footer/privacy-policy:yourRights2.list.item2') }}</li>
              <li>{{ t('footer/privacy-policy:yourRights2.list.item3') }}</li>
              <li>{{ t('footer/privacy-policy:yourRights2.list.item4') }}</li>
          </ul>
          <p class="govuk-body">{{ t('footer/privacy-policy:yourRights2.description2') | safe }}</p>
          <h2 class="govuk-heading-m">{{ t('footer/privacy-policy:sharingYourData5.title') }}</h2>
          <p class="govuk-body">{{ t('footer/privacy-policy:sharingYourData5.description1') | safe }}</p>
          <h2 class="govuk-heading-m">{{ t('footer/privacy-policy:receivingNotifications3.title') }}</h2>
          <p class="govuk-body">{{ t('footer/privacy-policy:receivingNotifications3.description1') }}</p>
          <p class="govuk-body">{{ t('footer/privacy-policy:receivingNotifications3.description2') | safe }}</p>
          <h2 class="govuk-heading-m">{{ t('footer/privacy-policy:howToComplain2.title') }}</h2>
          <p class="govuk-body">{{ t('footer/privacy-policy:howToComplain2.description1') | safe }}</p>
          <p class="govuk-body">{{ t('footer/privacy-policy:howToComplain2.description2') | safe }}</p>
      </div>
      <div id="tabs-7">
          <h2 class="govuk-heading-l">{{ t('footer/privacy-policy:usingTheAppealAnImmigrationOrAsylum.title') }}</h2>
          <h2 class="govuk-heading-m">{{ t('footer/privacy-policy:thePersonalDataWeNeed4.title') }}</h2>
          <p class="govuk-body">{{ t('footer/privacy-policy:thePersonalDataWeNeed4.description1') }}</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed4.list.item1') }}</li>
              <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed4.list.item2') }}</li>
              <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed4.list.item3') }}</li>
              <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed4.list.item4') }}</li>
              <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed4.list.item5') }}</li>
              <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed4.list.item6') }}</li>
              <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed4.list.item7') }}</li>
              <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed4.list.item8') }}</li>
          </ul>
          <h2 class="govuk-heading-m">{{ t('footer/privacy-policy:storingAndSharingYourData2.title') }}</h2>
          <p class="govuk-body">{{ t('footer/privacy-policy:storingAndSharingYourData2.description1') }}</p>
          <h2 class="govuk-heading-m">{{ t('footer/privacy-policy:afterYouSubmitYourInformation3.title') }}</h2>
          <p class="govuk-body">{{ t('footer/privacy-policy:afterYouSubmitYourInformation3.description1') }}</p>
          <p class="govuk-body">{{ t('footer/privacy-policy:afterYouSubmitYourInformation3.description2') }}</p>
          <p class="govuk-body">{{ t('footer/privacy-policy:afterYouSubmitYourInformation3.description3') }}</p>
      </div>
      <div id="tabs-8">
          <h2 class="govuk-heading-l">{{ t('footer/privacy-policy:usingThePossessionClaimsService.title') }}</h2>
          <h2 class="govuk-heading-m">{{ t('footer/privacy-policy:thePersonalDataWeNeed5.title') }}</h2>
          <p class="govuk-body">{{ t('footer/privacy-policy:thePersonalDataWeNeed5.description1') }}</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed5.list1.item1') }}</li>
              <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed5.list1.item2') }}</li>
              <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed5.list1.item3') }}</li>
              <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed5.list1.item4') }}</li>
              <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed5.list1.item5') }}</li>
              <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed5.list1.item6') }}</li>
              <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed5.list1.item7') }}</li>
              <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed5.list1.item8') }}</li>
          </ul>
          <p class="govuk-body">{{ t('footer/privacy-policy:thePersonalDataWeNeed5.description2') }}</p>
          <p class="govuk-body">{{ t('footer/privacy-policy:thePersonalDataWeNeed5.description3') }}</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed5.list2.item1') }}</li>
              <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed5.list2.item2') }}</li>
              <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed5.list2.item3') }}</li>
              <li>{{ t('footer/privacy-policy:thePersonalDataWeNeed5.list2.item4') }}</li>
          </ul>
          <h2 class="govuk-heading-m">{{ t('footer/privacy-policy:storingYourData6.title') }}</h2>
          <p class="govuk-body">{{ t('footer/privacy-policy:storingYourData6.description1') }}</p>
          <h2 class="govuk-heading-m">{{ t('footer/privacy-policy:beforeYouSubmitYourInformation3.title') }}</h2>
          <p class="govuk-body">{{ t('footer/privacy-policy:beforeYouSubmitYourInformation3.description1') }}</p>
          <h2 class="govuk-heading-m">{{ t('footer/privacy-policy:afterYouSubmitYourInformation4.title') }}</h2>
          <p class="govuk-body">{{ t('footer/privacy-policy:afterYouSubmitYourInformation4.description1') }}</p>
          <p class="govuk-body">{{ t('footer/privacy-policy:afterYouSubmitYourInformation4.description2') }}</p>
          <h2 class="govuk-heading-m">{{ t('footer/privacy-policy:sharingYourData6.title') }}</h2>
          <p class="govuk-body">{{ t('footer/privacy-policy:sharingYourData6.description1') }}</p>
          <p class="govuk-body">{{ t('footer/privacy-policy:sharingYourData6.description2') }}</p>
      </div>
  </div>

{% endblock %}
