{% extends "footer/layout.njk" %}

{% block pageTitle %}
  {{ t('footer/terms-and-conditions:pageTitle') }}
{% endblock %}

{% block mainContent %}
  <h1 class="govuk-heading-xl">{{ t('footer/terms-and-conditions:termsAndConditions.title') }}</h1>
  <p class="govuk-body">{{ t('footer/terms-and-conditions:termsAndConditions.description1') | safe }}</p>
  <p class="govuk-body">{{ t('footer/terms-and-conditions:termsAndConditions.description2') }}</p>
  <p class="govuk-body">{{ t('footer/terms-and-conditions:termsAndConditions.description3') }}</p>
  <p class="govuk-body">{{ t('footer/terms-and-conditions:termsAndConditions.description4') }}</p>
  <h2 class="govuk-heading-l">{{ t('footer/terms-and-conditions:whoWeAre.title') }}</h2>
  <p class="govuk-body">{{ t('footer/terms-and-conditions:whoWeAre.description1') }}</p>
  <p class="govuk-body">{{ t('footer/terms-and-conditions:whoWeAre.description2') }}</p>
  <h2 class="govuk-heading-l">{{ t('footer/terms-and-conditions:termsOfService.title') }}</h2>
  <p class="govuk-body">{{ t('footer/terms-and-conditions:termsOfService.description1') }}</p>
  <h2 class="govuk-heading-l">{{ t('footer/terms-and-conditions:howToUseThisServiceResponsibly.title') }}</h2>
  <p class="govuk-body">{{ t('footer/terms-and-conditions:howToUseThisServiceResponsibly.description1') }}</p>
  <p class="govuk-body">{{ t('footer/terms-and-conditions:howToUseThisServiceResponsibly.description2') }}</p>
  <ul class="govuk-list govuk-list--bullet">
      <li>{{ t('footer/terms-and-conditions:howToUseThisServiceResponsibly.list.item1') }}</li>
      <li>{{ t('footer/terms-and-conditions:howToUseThisServiceResponsibly.list.item2') }}</li>
      <li>{{ t('footer/terms-and-conditions:howToUseThisServiceResponsibly.list.item3') }}</li>
  </ul>
  <p class="govuk-body">{{ t('footer/terms-and-conditions:howToUseThisServiceResponsibly.description3') }}</p>
  <p class="govuk-body">{{ t('footer/terms-and-conditions:howToUseThisServiceResponsibly.description4') }}</p>
  <p class="govuk-body">{{ t('footer/terms-and-conditions:howToUseThisServiceResponsibly.description5') }}</p>
  <p class="govuk-body">{{ t('footer/terms-and-conditions:howToUseThisServiceResponsibly.description6') }}</p>
  <p class="govuk-body">{{ t('footer/terms-and-conditions:howToUseThisServiceResponsibly.description7') }}</p>
  <p class="govuk-body">{{ t('footer/terms-and-conditions:howToUseThisServiceResponsibly.description8') }}</p>
  <p class="govuk-body">{{ t('footer/terms-and-conditions:howToUseThisServiceResponsibly.description9') }}</p>
  <p class="govuk-body">{{ t('footer/terms-and-conditions:howToUseThisServiceResponsibly.description10') }}</p>
  <p class="govuk-body">{{ t('footer/terms-and-conditions:howToUseThisServiceResponsibly.description11') }}</p>
  <p class="govuk-body">{{ t('footer/terms-and-conditions:howToUseThisServiceResponsibly.description12') }}</p>
  <p class="govuk-body">{{ t('footer/terms-and-conditions:howToUseThisServiceResponsibly.description13') }}</p>
  <p class="govuk-body">{{ t('footer/terms-and-conditions:howToUseThisServiceResponsibly.description14') }}</p>
  <p class="govuk-body">{{ t('footer/terms-and-conditions:howToUseThisServiceResponsibly.description15') }}</p>
  <p class="govuk-body">{{ t('footer/terms-and-conditions:howToUseThisServiceResponsibly.description16') }}</p>
{% endblock %}
