<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner">
  <div class="govuk-notification-banner__header">
    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
      Failed to load notifications
    </h2>
  </div>
  <div class="govuk-notification-banner__content">
    It was not possible to fetch any pending notification messages for this case. Please check again later.
  </div>
</div>
