{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "moj/components/multi-file-upload/macro.njk" import mojMultiFileUpload %}

{% macro fileUploadMoj(
  component,
  uploadButtonText='Upload file',
  filesAddedHeading='Files added',
  uploadedFiles=[]
) %}
  {% set uploadHtml %}
    {{ govukFileUpload({
      id: component.id,
      name: component.name,
      classes: "moj-multi-file-upload__input",
      label: {
        text: component.label.text,
        classes: component.label.classes
      },
      errorMessage: component.errorMessage,
      attributes: {
        accept: component.accept,
        tabindex: "-1"
      }
    }) }}
    {{ govukButton({
      text: uploadButtonText,
      classes: "govuk-button--secondary moj-multi-file-upload__button"
    }) }}
  {% endset %}

  {% set uploadedItems = [] %}
  {% if uploadedFiles %}
    {% for file in uploadedFiles %}
      {% set _ = uploadedItems.push({
        fileName: file.id,
        originalFileName: file.document_filename,
        message: { text: file.document_filename },
        deleteButton: { text: component.deleteButtonText or 'Remove' }
      }) %}
    {% endfor %}
  {% endif %}

  {{ mojMultiFileUpload({
    uploadedFiles: {
      heading: { text: filesAddedHeading },
      items: uploadedItems
    },
    uploadHtml: uploadHtml,
    attributes: {
      "data-upload-url": component.uploadUrl,
      "data-delete-url": component.deleteUrl,
      "data-max-file-size-mb": component.maxFileSize,
      "data-max-media-mb": component.maxMediaMB,
      "data-max-filename-length": component.maxFilenameLength,
      "data-error-wrong-type": component.errorWrongType or "",
      "data-error-file-too-large": component.errorFileTooLarge or "",
      "data-error-file-too-large-media": component.errorFileTooLargeMedia or "",
      "data-error-filename-too-long": component.errorFilenameTooLong or "",
      "data-error-delete": component.errorDelete or "",
      "data-delete-button-text": component.deleteButtonText or "Remove",
      "data-error-summary-title": component.errorSummaryTitle or "There is a problem"
    }
  }) }}

  <div id="uploaded-documents-container">
    {% if uploadedFiles %}
      {% for file in uploadedFiles %}
        <input type="hidden" name="uploadedDocuments[]" value="{{ file | dump }}" data-document-url="{{ file.document_url }}" />
      {% endfor %}
    {% endif %}
  </div>
{% endmacro %}
