{% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{# Shared multi-file upload renderer used by formBuilder and custom uploadDocument template #}
{% macro fileUpload(
  fieldComponent,
  filesAddedHeading='Files added',
  uploadButtonText='Upload file',
  deleteButtonText='Remove',
  uploadedFiles=[],
  acceptValue='',
  maxFileSizeMb='',
  wrongFileTypeError='',
  fileTooLargeError='',
  deleteFailedError=''
) %}
  <span class="govuk-visually-hidden" data-delete-text="{{ deleteButtonText }}" aria-hidden="true"></span>
  <div
    class="moj-multi-file-upload"
    data-module="moj-multi-file-upload"
    data-upload-url="{{ fieldComponent.uploadUrl }}"
    data-delete-url="{{ fieldComponent.deleteUrl }}"
    data-max-file-size-mb="{{ maxFileSizeMb }}"
    data-error-wrong-type="{{ wrongFileTypeError | e }}"
    data-error-file-too-large="{{ fileTooLargeError | e }}"
    data-error-delete="{{ deleteFailedError | e }}"
  >
    <div class="moj-multi-file__uploaded-files{% if not uploadedFiles or uploadedFiles.length == 0 %} moj-hidden{% endif %}">
      <h2 class="govuk-heading-m">{{ filesAddedHeading }}</h2>
      <dl class="govuk-summary-list moj-multi-file-upload__list">
        {% if uploadedFiles %}
          {% for file in uploadedFiles %}
            <div class="govuk-summary-list__row moj-multi-file-upload__row" data-document-url="{{ file.document_url }}">
              <dt class="govuk-summary-list__key moj-multi-file-upload__filename">
                {{ file.document_filename }}
              </dt>
              <dd class="govuk-summary-list__actions moj-multi-file-upload__actions">
                <a class="govuk-link moj-multi-file-upload__delete" href="#">
                  {{ deleteButtonText }}<span class="govuk-visually-hidden"> {{ file.document_filename }}</span>
                </a>
              </dd>
            </div>
          {% endfor %}
        {% endif %}
      </dl>
    </div>
    <div class="moj-multi-file-upload__upload">
      {{ govukFileUpload({
        id: fieldComponent.id,
        name: fieldComponent.name,
        classes: "moj-multi-file-upload__input",
        label: fieldComponent.label,
        attributes: { accept: acceptValue or fieldComponent.accept },
        errorMessage: fieldComponent.errorMessage
      }) }}
      {{ govukButton({
        text: uploadButtonText,
        classes: "govuk-button--secondary moj-multi-file-upload__button",
        attributes: { type: "button" }
      }) }}
    </div>
  </div>
  <div id="uploaded-documents-container">
    {% if uploadedFiles %}
      {% for file in uploadedFiles %}
        <input type="hidden" name="uploadedDocuments[]" value='{{ file | dump | safe }}' />
      {% endfor %}
    {% endif %}
  </div>
{% endmacro %}
