{% extends "stepsTemplate.njk" %}

{% block pageTitle %}{{ t('pageTitle') }} - HM Courts & Tribunals Service – GOV.UK{% endblock %}

{% block mainContent %}
  <h1 class="govuk-heading-xl">{{ t('heading') }}</h1>
{% endblock %}
