{% extends "stepsTemplate.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% block content %}

{% if previousStepUrl %}
  {{ govukBackLink({
    text: "Back",
    href: previousStepUrl
  }) }}
{% endif %}

  <h1 class="govuk-heading-l">{{ step.title }}</h1>

  <form method="post">
    {% set groundsValue = data.grounds if data.grounds else [] %}
    {% set groundsError = errors.grounds if errors.grounds else false %}

    {{ govukCheckboxes({
      idPrefix: "grounds",
      name: "grounds",
      fieldset: {
        legend: {
          text: "Select all that apply",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--m"
        }
      },
      errorMessage: { text: groundsError } if groundsError else null,
      items: [
        {
          value: "Rent arrears (ground 8)",
          text: "Rent arrears (ground 8)",
          checked: groundsValue and groundsValue.includes("Rent arrears (ground 8)")
        },
        {
          value: "Breach of contract (ground 9)",
          text: "Breach of contract (ground 9)",
          checked: groundsValue and groundsValue.includes("Breach of contract (ground 9)")
        },
        {
          value: "Other (ground 10)",
          text: "Other (ground 10)",
          checked: groundsValue and groundsValue.includes("Other (ground 10)")
        }
      ]
    }) }}

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Continue",
        attributes: { type: 'submit' }
      }) }}
    </div>
  </form>
{% endblock %}
