{% extends "xui-layout.njk" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}
  {% if errorSummary %}
    {{ govukErrorSummary(errorSummary) }}
  {% endif %}

  <div id="confirm-order-review-form">
    <span class="govuk-caption-l">Confirm order review</span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ pageHeading }}</h1>

    <p class="govuk-body govuk-!-margin-bottom-1">
      <span class="govuk-!-font-weight-bold">Case reference:</span> {{ caseReferenceDisplay }}
    </p>
    <p class="govuk-body govuk-!-margin-bottom-1">{{ propertyAddressDisplay }}</p>
    <p class="govuk-body govuk-!-font-weight-bold">
      {{ claimantNames }} vs {{ defendantNames }}
    </p>
  </div>

  {% block page %}{% endblock %}
{% endblock %}
