{% extends "template.njk" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "xui-header/macro.njk" import hmctsXuiHeader %}
{% from "footer/macro.njk" import hmctsUiFooter %}

{% set containerClasses = "pcs-wide" %}

{% block pageTitle %}
  {% if errorSummary %}Error: {% endif %}{{ pageHeading }} - HM Courts &amp; Tribunals Service &ndash; GOV.UK
{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/assets/ui-component-lib/ui-component-lib.css">
{% endblock %}

{% block header %}
  {{ hmctsXuiHeader(headerModel) }}
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block footer %}
  {{ hmctsUiFooter(footerModel) }}
{% endblock %}

{% block content %}
  {% if errorSummary %}
    {{ govukErrorSummary(errorSummary) }}
  {% endif %}

  <div id="confirm-order-review-form">
    <span class="govuk-caption-l">Confirm order review</span>
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-2">{{ pageHeading }}</h1>

    <p class="govuk-body govuk-!-margin-bottom-1">
      <span class="govuk-!-font-weight-bold">Case reference:</span> {{ caseReferenceDisplay }}
    </p>
    <p class="govuk-body govuk-!-margin-bottom-1">{{ propertyAddressDisplay }}</p>
    <p class="govuk-body govuk-!-font-weight-bold">
      {{ claimantNames }} vs {{ defendantNames }}
    </p>
  </div>

  {% block page %}{% endblock %}
{% endblock %}
