{% extends "template.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "xui-header/macro.njk" import hmctsXuiHeader %}
{% from "footer/macro.njk" import hmctsUiFooter %}

{% set containerClasses = "pcs-wide" %}

{% block pageTitle %}
  {{ title }} - HM Courts &amp; Tribunals Service &ndash; GOV.UK
{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/assets/ui-component-lib/ui-component-lib.css">
{% endblock %}

{% block header %}
  {{ hmctsXuiHeader(headerModel) }}
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block footer %}
  {{ hmctsUiFooter(footerModel) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {# The case the order is on, as pcs-api's own event confirmations show it in their panel. #}
      {% set caseDetails %}
        <span class="govuk-!-font-size-24">
          Case number {{ caseReference }}<br>
          {{ propertyAddress }}<br>
          {{ caseName }}
        </span>
      {% endset %}
      {{ govukPanel({ titleText: title, html: caseDetails }) }}

      {{ govukButton({ text: "Close and return to case summary", href: closeUrl }) }}
    </div>
  </div>
{% endblock %}
