{% extends "template.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "xui-header/macro.njk" import hmctsXuiHeader %}
{% from "footer/macro.njk" import hmctsUiFooter %}

{% set containerClasses = "pcs-wide" %}

{% block pageTitle %}
  No order to review - HM Courts &amp; Tribunals Service &ndash; GOV.UK
{% endblock %}

{% block head %}
  {{ super() }}
  <link rel="stylesheet" href="/assets/ui-component-lib/ui-component-lib.css">
{% endblock %}

{% block header %}
  {{ hmctsXuiHeader(headerModel) }}
{% endblock %}

{% block beforeContent %}{% endblock %}

{% block footer %}
  {{ hmctsUiFooter(footerModel) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">No order to review</h1>
      {% for reason in reasons %}
        <p class="govuk-body">{{ reason }}</p>
      {% endfor %}
      {{ govukButton({ text: "Return to case details", href: closeUrl }) }}
    </div>
  </div>
{% endblock %}
