{% extends "stepsTemplate.njk" %}
{% from "macros/stepButtons.njk" import stepButtons %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/csrf.njk" import csrfProtection %}
{% block mainContent %}
  {% if errorSummary %}
    {{ govukErrorSummary(errorSummary) }}
  {% endif %}
  {% if caption %}
    <span class="govuk-caption-l">{{ caption }}</span>
  {% endif %}
  <h1 class="govuk-heading-l">{{ title }}</h1>
  <p class="govuk-body">{{ bodyText }}</p>
  <form method="post" action="{{ url }}">
    {{ stepButtons(saveAndContinue, saveForLater) }}
    {{ csrfProtection(csrfToken) }}
  </form>
{% endblock %}
