{% extends "stepsTemplate.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}

{% block pageTitle %}{{ pageTitle }} &ndash; HM Courts &amp; Tribunals Service &ndash; GOV.UK{% endblock %}

{% block mainContent %}

  {{ govukPanel({
    titleText: confirmationPanelTitle
  }) }}

  <p class="govuk-body">
   {{ receivedYourApplicationMessage }}
  </p>

  <h2 class="govuk-heading-m">{{ whatHappensNext }}</h2>
  <p class="govuk-body">
   {{ youDoNotNeedToDoAnythingElse }}
  </p>

  <h2 class="govuk-heading-m">{{ giveFeedbackAboutThisService }}</h2>
  <p class="govuk-body">
   {{ completeThisShortSurvey | safe }}
  </p>

  <a href="{{ dashboardUrl }}" role="button" draggable="false" class="govuk-button" data-module="govuk-button">
      {{ closeAndReturnToCaseOverview }}
  </a>

{% endblock %}
