{% extends "stepsTemplate.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "macros/csrf.njk" import csrfProtection %}

{% block pageTitle %}{{ pageTitle }} &ndash; HM Courts &amp; Tribunals Service &ndash; GOV.UK{% endblock %}

{% block mainContent %}
  {% if caption %}
    <span class="govuk-caption-xl">{{ caption }}</span>
  {% endif %}
  {% if heading %}
    <h1 class="govuk-heading-l">{{ heading }}</h1>
  {% endif %}
  <p class="govuk-body">{{ paragraph1 }}</p>

  {% if uploadedFiles and uploadedFiles.length > 0 %}
    <h2 class="govuk-heading-m">Uploaded documents</h2>
    <ul class="govuk-list">
      {% for file in uploadedFiles %}
        <li>
          <a href="{{ file.downloadUrl }}" class="govuk-link" target="_blank">{{ file.filename }}</a>
        </li>
      {% endfor %}
    </ul>
  {% endif %}

  <form method="post" action="{{ url }}">
    <div class="govuk-button-group">
      {{ govukButton({
        text: t('buttons.continue', { ns: 'common' }),
        attributes: { name: 'action', value: 'continue' }
      }) }}
      <p class="govuk-body">
        <a href="{{ dashboardUrl }}" class="govuk-link">{{ cancel }}</a>
      </p>
    </div>
    {{ csrfProtection(csrfToken) }}
  </form>
{% endblock %}
