{% extends "stepsTemplate.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "macros/csrf.njk" import csrfProtection %}

{% block mainContent %}
  <span class="govuk-caption-l">Responding to the claim</span>
  <h1 class="govuk-heading-l">Rent arrears</h1>

  <form method="post" action="{{ url }}" novalidate>
    <div class="govuk-button-group">
      {{ govukButton({
        text: t('buttons.continue', { ns: 'common' }),
        attributes: { type: 'submit', name: 'action', value: 'continue' }
      }) }}
      {{ govukButton({
        text: t('buttons.saveForLater', { ns: 'common' }),
        classes: 'govuk-button--secondary',
        attributes: { type: 'submit', name: 'action', value: 'saveForLater' }
      }) }}
    </div>
    {{ csrfProtection(csrfToken) }}
  </form>
{% endblock %}
