{% extends "template.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

  <form method="post">
    {% set legendText = step.fields.hasProvisional.label if step.fields.hasProvisional.label else 'Do you already have a provisional licence?' %}
    {% set hasYes = (data.hasProvisional == 'yes') %}
    {% set hasNo = (data.hasProvisional == 'no') %}
    {% set errorMsg = errors.hasProvisional if errors.hasProvisional else false %}
    
    {{ govukRadios({
      idPrefix: 'hasProvisional',
      name: 'hasProvisional',
      fieldset: {
        legend: {
          text: legendText,
          isPageHeading: true,
          classes: 'govuk-fieldset__legend--l'
        }
      },
      items: [
        {
          value: 'yes',
          text: 'Yes',
          checked: hasYes
        },
        {
          value: 'no',
          text: 'No',
          checked: hasNo
        }
      ],
      errorMessage: { text: errorMsg } if errorMsg else null
    }) }}

    {{ govukButton({
      text: 'Continue',
      attributes: { type: 'submit' }
    }) }}
  </form>
{% endblock %}
