{% extends "stepsTemplate.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% block pageTitle %}
  {{ pageTitle }} - HM Courts & Tribunals Service – GOV.UK
{% endblock %}
{% block mainContent %}
  {% if errorSummary %}
    {{ govukErrorSummary(errorSummary) }}
  {% endif %}
  {% if caption %}
    <span class="govuk-caption-xl">{{ caption }}</span>
  {% endif %}
  {% if heading %}
    <h1 class="govuk-heading-l">{{ heading }}</h1>
  {% endif %}
  <h2 class="govuk-heading-s">{{ subHeading1 }}</h2>
  <p class="govuk-body">{{ paragraph1 }}</p>
  <ol class="govuk-list govuk-list--number govuk-!-margin-bottom-4">
    <li>{{ listItem1 | safe }}</li>
    <li>{{ listItem2 }}</li>
    <li>{{ listItem3 }}</li>
    <li>{{ listItem4 }}</li>
  </ol>
  <p class="govuk-body">{{ paragraph2 }}</p>
  <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-4">
    <li>{{ bullet1 }}</li>
    <li>{{ bullet2 }}</li>
  </ul>
  <h2 class="govuk-heading-m govuk-!-margin-top-6">{{ subHeading2 }}</h2>
  <p class="govuk-body">{{ paragraph3 }}</p>
  <p class="govuk-body govuk-!-margin-bottom-6">{{ paragraph4 }}</p>
  <form method="post" action="{{ url }}">
    {% for field in fields %}
      {% if field.component and field.componentType %}
        {% if field.componentType == 'radios' %}
          {{ govukRadios(field.component) }}
        {% endif %}
      {% endif %}
    {% endfor %}
    <div class="govuk-button-group">
      {{ govukButton({
        text: buttons.saveAndContinue,
        attributes: { type: 'submit', name: 'action', value: 'continue' }
      }) }}
      {{ govukButton({
        text: buttons.saveForLater,
        classes: 'govuk-button--secondary',
        attributes: { type: 'submit', name: 'action', value: 'saveForLater' }
      }) }}
    </div>
  </form>
{% endblock %}
