{% extends "stepsTemplate.njk" %}
{% from "macros/stepButtons.njk" import stepButtons %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/csrf.njk" import csrfProtection %}
{% block mainContent %}
  {% if errorSummary %}
    {{ govukErrorSummary(errorSummary) }}
  {% endif %}
  <h1 class="govuk-heading-l">Would you have somewhere else to live if you had to leave your home? (placeholder)</h1>
  <p class="govuk-body">This is a placeholder for Would You Have Somewhere Else To Live If You Had To Leave Your Home step.</p>
  <form method="post" action="{{ url }}">
    {{ stepButtons(continue, saveForLater) }}
    {{ csrfProtection(csrfToken) }}
  </form>
{% endblock %}
