{% extends "journeyTemplate.njk" %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}

  {# Work out the reference number first #}
  {% if allData.confirmation and allData.confirmation.referenceNumber %}
    {% set referenceNumber = allData.confirmation.referenceNumber %}
  {% else %}
    {% set referenceNumber = translations.confirmation.panel.pending %}
  {% endif %}

  {{ govukPanel({
    titleText: step.title,
    html:
      translations.confirmation.panel.refLabel
      ~ "<br><strong>"
      ~ referenceNumber
      ~ "</strong>"
  }) }}

  <p class="govuk-body">{{ translations.confirmation.sentEmail }}</p>

  <h2 class="govuk-heading-m">{{ translations.confirmation.whatNextTitle }}</h2>
  <p class="govuk-body">{{ translations.confirmation.whatNext1 }}</p>
  <p class="govuk-body">{{ translations.confirmation.whatNext2 }}</p>

  <h2 class="govuk-heading-m">{{ translations.confirmation.helpTitle }}</h2>
  <p class="govuk-body">
    <a href="{{ translations.confirmation.helpLinkHref }}" class="govuk-link">
      {{ translations.confirmation.helpLinkText }}
    </a>
  </p>

  <div class="govuk-button-group">
    {{ govukButton({
      text: translations.confirmation.exit,
      href: "/?lang=" ~ lang,
      classes: "govuk-button--secondary"
    }) }}
  </div>

{% endblock %}
