{% extends "templates/respondToClaim.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block respondToClaimContent %}
  <!-- TODO: This should be dynamic -->
  <h3 class="govuk-heading-s">Correspondence address given by Treetops Housing:</h3>
  <p class="govuk-body">
    1 Garden Drive<br>
    Luton<br>
    Bedfordshire<br>
    LU1 1AB
  </p>

  <form method="post" class="correspondence-address-form" novalidate>
    {% for fieldName, fieldConfig in step.fields %}

      {% if fieldConfig.type == 'radios' %}
        {% if fieldName == 'isCorrespondenceAddress' %}
          {% set radioConfig = fieldConfig %}
          {% set addressHtml %}
            {% set fieldConfig = step.fields.correspondenceAddress %}
            {% include "components/addressLookup.njk" %}
          {% endset -%}
          
          {% set radioFieldConfig = radioConfig | setAttribute('items', [
            radioConfig.items[0],
            {
              value: radioConfig.items[1].value,
              text: radioConfig.items[1].text,
              checked: radioConfig.items[1].checked,
              conditional: {
                html: addressHtml
              }
            }
          ]) %}
          
          {{ govukRadios(radioFieldConfig) }}
        {% else %}
          {{ govukRadios(fieldConfig) }}
        {% endif %}

      {% elif fieldConfig.type == 'button' %}
        {% if fieldName == 'continueButton' %}
          <div class="govuk-button-group">
            {% set btnAttrs = fieldConfig.attributes or { type: 'submit' } %}
            {{ govukButton({
              text: fieldConfig.text or 'Continue',
              html: fieldConfig.html,
              href: fieldConfig.href,
              classes: fieldConfig.classes,
              attributes: btnAttrs,
              isStartButton: fieldConfig.isStartButton,
              preventDoubleClick: fieldConfig.preventDoubleClick
            }) }}
        {% elif fieldName == 'saveForLaterButton' %}
            {% set btnAttrs = fieldConfig.attributes or { type: 'submit' } %}
            {{ govukButton({
              text: fieldConfig.text or 'Save for later',
              html: fieldConfig.html,
              href: fieldConfig.href,
              classes: fieldConfig.classes,
              attributes: btnAttrs,
              isStartButton: fieldConfig.isStartButton,
              preventDoubleClick: fieldConfig.preventDoubleClick
            }) }}
          </div>
        {% endif %}
      {% endif %}

    {% endfor %}

    <a href="/" class="govuk-link">Cancel</a>

  </form>

{% endblock %}
