{% extends "stepsTemplate.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/task-list/macro.njk" import govukTaskList %}
{% from "govuk/components/details/macro.njk" import govukDetails %}

{% block pageTitle %}{{ t('pageTitle') }} &ndash; HM Courts &amp; Tribunals Service &ndash; GOV.UK{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({ text: t('back'), href: backUrl }) }}
{% endblock %}

{% block mainContent %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ propertyAddress }}</h1>
      <p class="govuk-body">{{ t('caseNumberLabel') }} {{ caseNumber }}</p>

      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

      {% for group in groups %}
        <h2 class="govuk-heading-m">{{ group.number }}. {{ group.title }}</h2>
        {{ govukTaskList({
          idPrefix: 'tasklist-' + group.id,
          items: group.items
        }) }}
      {% endfor %}
    </div>

    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" aria-label="{{ t('sidebarLabel') }}">
        <h2 class="govuk-heading-m">{{ t('iWantTo.heading') }}</h2>
        <ul class="govuk-list">
          {% for link in iWantToLinks %}
            <li>
              <a class="govuk-link" href="{{ link.href }}" target="_blank" rel="noopener noreferrer">
                {{ t(link.key) }}<span class="govuk-visually-hidden"> ({{ t('opensInNewTab') }})</span>
              </a>
            </li>
          {% endfor %}
        </ul>

        <h2 class="govuk-heading-m">{{ t('helpSupport.heading') }}</h2>
        <ul class="govuk-list">
          {% for link in helpSupportLinks %}
            <li>
              <a class="govuk-link" href="{{ link.href }}" target="_blank" rel="noopener noreferrer">
                {{ t(link.key) }}<span class="govuk-visually-hidden"> ({{ t('opensInNewTab') }})</span>
              </a>
            </li>
          {% endfor %}
        </ul>

        {{ govukDetails({
          summaryText: t('contactUsForHelp'),
          html: '<p class="govuk-body">' + t('contactUsDetailsTelephoneHeading') + ': ' + t('contactUsDetailsTelephoneNumber') + '</p>' +
                '<p class="govuk-body">' + t('contactUsDetailsTelephoneHours') + '</p>' +
                '<p class="govuk-body"><a class="govuk-link" href="https://www.gov.uk/call-charges" target="_blank" rel="noopener noreferrer">' + t('contactUsDetailsCallChargesLinkText') + ' (' + t('opensInNewTab') + ')</a></p>'
        }) }}
      </aside>
    </div>
  </div>
{% endblock %}
