{% extends "stepsTemplate.njk" %}

{% block pageTitle %}{{ t('pageTitle') }} &ndash; HM Courts &amp; Tribunals Service &ndash; GOV.UK{% endblock %}

{% block mainContent %}
  <h1 class="govuk-heading-l">{{ t('pageTitle') }}</h1>
  <p class="govuk-body">{{ t('body') }}</p>
{% endblock %}
