{% extends "stepsTemplate.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/csrf.njk" import csrfProtection %}
{% block mainContent %}
  {% if errorSummary %}
    {{ govukErrorSummary(errorSummary) }}
  {% endif %}
  <h1 class="govuk-heading-l">Equality and diversity start (placeholder)</h1>
  <p class="govuk-body">This is a placeholder for Equality and diversity start step.</p>
  <form method="post" action="{{ url }}">
    {{ csrfProtection(csrfToken) }}
    <div class="govuk-button-group">
      {{ govukButton({
        text: 'Continue to the questions',
        name: 'equalityStartChoice',
        value: 'continue'
      }) }}
      {{ govukButton({
        text: 'I do not want to answer these questions',
        classes: 'govuk-button--secondary',
        name: 'equalityStartChoice',
        value: 'skip'
      }) }}
    </div>
  </form>
{% endblock %}