{% extends "journeyTemplate.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <h1 class="govuk-heading-l">{{ step.title }}</h1>

  {% if step.description %}
    <p class="govuk-body">{{ step.description }}</p>
  {% endif %}

  <p class="govuk-body">{{ translations.ineligible.changeAnswer }}</p>

  <div class="govuk-button-group">
    {{ govukButton({
      text: translations.ineligible.exit,
      href: "/?lang=" ~ lang,
      classes: "govuk-button--secondary"
    }) }}
  </div>
{% endblock %}
