{% extends "journeyTemplate.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <h1 class="govuk-heading-l">{{ step.title or t('ineligible.title', 'You cannot continue') }}</h1>

  {% if step.description %}
    <p class="govuk-body">{{ step.description }}</p>
  {% endif %}

  <p class="govuk-body">{{ t('ineligible.changeAnswer', 'You can go back and change your answers if you made a mistake.') }}</p>

  <div class="govuk-button-group">
    {{ govukButton({
      text: t('ineligible.exit', 'Exit'),
      href: '/?lang=' ~ lang
    }) }}
  </div>
{% endblock %}
