{% extends "stepsTemplate.njk" %}
{% from "macros/stepButtons.njk" import stepButtons %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/csrf.njk" import csrfProtection %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% block pageTitle %}{{ pageTitle }} &ndash; HM Courts &amp; Tribunals Service &ndash; GOV.UK{% endblock %}
{% block mainContent %}
  {% if errorSummary %}
    {{ govukErrorSummary(errorSummary) }}
  {% endif %}
  {{ govukPanel({
  titleText: "Response submitted.",
  html: "Your reference number<br><strong>" + caseReference + "</strong>"
}) }}
  <p class="govuk-body">We’ve sent you a confirmation email.</p>
{% endblock %}