{% extends "journeyTemplate.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% block content %}

{% if previousStepUrl %}
  {{ govukBackLink({
    text: buttons.back or "Back",
    href: previousStepUrl
  }) }}
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorSummary %}
      {{ govukErrorSummary(errorSummary) }}
    {% endif %}

    {% if step.title %}
      <h1 class="govuk-heading-l">{{ step.title }}</h1>
    {% endif %}

    {% if step.description %}
      <span class="govuk-caption-l">{{ step.description }}</span>
    {% endif %}

    {% if errorSummary %}
      {{ govukErrorSummary(errorSummary) }}
    {% endif %}

    <form method="post" novalidate>
      {% if query.lang %}
        <input type="hidden" name="lang" value="{{ query.lang }}">
      {% endif %}
      {% for fieldName, fieldConfig in step.fields %}

        {% if fieldConfig.label is string %}
          {% set label = { text: fieldConfig.label } %}
        {% else %}
          {% set label = fieldConfig.label %}
        {% endif %}

        {% if fieldConfig.hint is string %}
          {% set hint = { text: fieldConfig.hint } %}
        {% else %}
          {% set hint = fieldConfig.hint %}
        {% endif %}

        {% if fieldConfig.type in ['text', 'email', 'tel', 'password', 'url', 'number'] %}
          {{ govukInput({
            name: fieldConfig.name,
            id: fieldConfig.id,
            type: fieldConfig.type,
            value: fieldConfig.value,
            label: label,
            hint: hint,
            errorMessage: fieldConfig.errorMessage,
            classes: fieldConfig.classes,
            attributes: fieldConfig.attributes
          }) }}

        {% elif fieldConfig.type == 'textarea' %}
          {{ govukTextarea({
            name: fieldConfig.name,
            id: fieldConfig.id,
            value: fieldConfig.value,
            label: label,
            hint: hint,
            errorMessage: fieldConfig.errorMessage,
            classes: fieldConfig.classes,
            attributes: fieldConfig.attributes
          }) }}

        {% elif fieldConfig.type == 'radios' %}
          {{ govukRadios({
            name: fieldConfig.name,
            fieldset: fieldConfig.fieldset,
            hint: hint,
            items: fieldConfig.options,
            errorMessage: fieldConfig.errorMessage,
            classes: fieldConfig.classes,
            attributes: fieldConfig.attributes
          }) }}

        {% elif fieldConfig.type == 'checkboxes' %}
          {{ govukCheckboxes({
            name: fieldConfig.name,
            fieldset: fieldConfig.fieldset,
            hint: hint,
            items: fieldConfig.options,
            errorMessage: fieldConfig.errorMessage,
            classes: fieldConfig.classes,
            attributes: fieldConfig.attributes
          }) }}

        {% elif fieldConfig.type == 'select' %}
          {{ govukSelect({
            name: fieldConfig.name,
            id: fieldConfig.id,
            value: fieldConfig.value,
            label: label,
            hint: hint,
            items: fieldConfig.options,
            errorMessage: fieldConfig.errorMessage,
            classes: fieldConfig.classes,
            attributes: fieldConfig.attributes
          }) }}

        {% elif fieldConfig.type == 'date' %}
          {{ govukDateInput({
            name: fieldConfig.name,
            fieldset: fieldConfig.fieldset,
            hint: hint,
            items: fieldConfig.items,
            errorMessage: fieldConfig.errorMessage,
            classes: fieldConfig.classes,
            attributes: fieldConfig.attributes
          }) }}

        {% elif fieldConfig.type == 'button' %}
          <div class="govuk-button-group">
            {{ govukButton({
              text: fieldConfig.text or (buttons and buttons.continue) or 'Continue',
              href: fieldConfig.href,
              classes: fieldConfig.classes,
              attributes: fieldConfig.attributes or { type: 'submit' }
            }) }}
          </div>
        {% endif %}

      {% endfor %}
    </form>

  </div>
</div>

{% endblock %}
