{% extends "stepsTemplate.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "macros/csrf.njk" import csrfProtection %}
{# GOV.UK pattern: [Browser title] - HM Courts & Tribunals Service – GOV.UK #}
{% block pageTitle %}
  {{ pageTitle }} - HM Courts &amp; Tribunals Service &ndash; GOV.UK
{% endblock %}
{% block mainContent %}
  {% if errorSummary %}
    {{ govukErrorSummary(errorSummary) }}
  {% endif %}

  {% if caption %}
    <span class="govuk-caption-l">{{ caption }}</span>
  {% endif %}

  <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

  <p class="govuk-body">{{ introParagraph }}</p>

  <p class="govuk-body"> {{ forExample }} </p>

  <ul class="govuk-list govuk-list--bullet">
    <li>{{ bullet1 }}</li>
    <li>{{ bullet2 }}</li>
    <li>{{ bullet3 }}</li>
  </ul>

  <form method="post" action="{{ url }}" novalidate>
    {% for field in fields %}
      {% if field.componentType == 'radios' %}
        {{ govukRadios(field.component) }}
      {% endif %}
    {% endfor %}

    <div class="govuk-button-group">
      {{ govukButton({
        text: saveAndContinue,
        attributes: { type: 'submit', name: 'action', value: 'continue' }
      }) }}
      {{ govukButton({
        text: saveForLater,
        classes: 'govuk-button--secondary',
        attributes: { type: 'submit', name: 'action', value: 'saveForLater' }
      }) }}
    </div>
    {{ csrfProtection(csrfToken) }}
  </form>
{% endblock %}
